In [1]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.appName(' Pyspark Seattle Dataframe').getOrCreate()

# Read data from cleaned prepared  files

#### *Read data about parking for 30 days*

In [3]:
#read cleaned data about parking for 30 days
parking_30days = spark.read.csv('parking_30days.csv', sep=',', inferSchema=True, header = True)

In [4]:
parking_30days.show(2)

+---+--------------------+-------------+--------------------+----------------+------------------------+-----------------+---------------+---------------+--------------------+-------------------+-------------------+---------+-----+
|_c0|   OccupancyDateTime|PaidOccupancy|       BlockfaceName|SourceElementKey|ParkingTimeLimitCategory|ParkingSpaceCount|PaidParkingArea|ParkingCategory|            Location|               Date|               Time|  DayWeek|Month|
+---+--------------------+-------------+--------------------+----------------+------------------------+-----------------+---------------+---------------+--------------------+-------------------+-------------------+---------+-----+
|  0|07/20/2022 06:23:...|          1.0|4TH AVE BETWEEN M...|         51473.0|                   120.0|              6.0|Commercial Core|   Paid Parking|POINT (-122.33336...|2022-07-20 00:00:00|2022-09-15 18:23:00|Wednesday|  7.0|
|  1|07/20/2022 07:42:...|          4.0|WESTERN AVE BETWE...|         36121.0|                   240.0|              6.0|       Belltown|   Paid Parking|POINT (-122.35199...|2022-07-20 00:00:00|2022-09-15 19:42:00|Wednesday|  7.0|
+---+--------------------+-------------+--------------------+----------------+------------------------+-----------------+---------------+---------------+--------------------+-------------------+-------------------+---------+-----+
only showing top 2 rows

In [5]:
#Checking DataTypes of PySpark DataFrames
print(type(parking_30days))

<class 'pyspark.sql.dataframe.DataFrame'>

In [6]:
# Checking Schema of PySpark DataFrames
parking_30days.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- OccupancyDateTime: string (nullable = true)
 |-- PaidOccupancy: string (nullable = true)
 |-- BlockfaceName: string (nullable = true)
 |-- SourceElementKey: string (nullable = true)
 |-- ParkingTimeLimitCategory: string (nullable = true)
 |-- ParkingSpaceCount: string (nullable = true)
 |-- PaidParkingArea: string (nullable = true)
 |-- ParkingCategory: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- DayWeek: string (nullable = true)
 |-- Month: double (nullable = true)

In [7]:
parking_30days.head()

Row(_c0=0, OccupancyDateTime='07/20/2022 06:23:00 PM', PaidOccupancy='1.0', BlockfaceName='4TH AVE BETWEEN MADISON ST AND SPRING ST', SourceElementKey='51473.0', ParkingTimeLimitCategory='120.0', ParkingSpaceCount='6.0', PaidParkingArea='Commercial Core', ParkingCategory='Paid Parking', Location='POINT (-122.33336524 47.60639351)', Date=datetime.datetime(2022, 7, 20, 0, 0), Time=datetime.datetime(2022, 9, 15, 18, 23), DayWeek='Wednesday', Month=7.0)

#### *Read data about public location*

In [8]:
public_location = spark.read.csv('public_location.csv', sep=',', inferSchema=True, header=True)

In [9]:
#Checking datatypes
print(type(public_location))

<class 'pyspark.sql.dataframe.DataFrame'>

In [10]:
#Checking schema, we get _c0, because first column have indexes of rows
public_location.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- location_id: string (nullable = true)
 |-- location_name_primary: string (nullable = true)
 |-- location_name_secondary: string (nullable = true)
 |-- location_blockface_elmntkey: double (nullable = true)
 |-- location_neighborhood: string (nullable = true)
 |-- location_character: string (nullable = true)
 |-- location_area_typology_subcategory: string (nullable = true)
 |-- location_average_number_commercial_seats: double (nullable = true)
 |-- location_average_number_public_seats: double (nullable = true)

In [11]:
#llok at table in table format
public_location.show(2)

+---+-----------+---------------------+-----------------------+---------------------------+---------------------+------------------+----------------------------------+----------------------------------------+------------------------------------+
|_c0|location_id|location_name_primary|location_name_secondary|location_blockface_elmntkey|location_neighborhood|location_character|location_area_typology_subcategory|location_average_number_commercial_seats|location_average_number_public_seats|
+---+-----------+---------------------+-----------------------+---------------------------+---------------------+------------------+----------------------------------+----------------------------------------+------------------------------------+
|  0|       ALK1|          ALKI AVE SW|   BETWEEN MARINE AV...|                    76698.0|                 Alki|        Commercial|                        Block face|                                     0.0|                                 6.0|
|  1|       ALK2|          ALKI AVE SW|   BETWEEN 57TH AVE ...|                     8914.0|                 Alki|        Commercial|                        Block face|                                    23.0|                                 0.0|
+---+-----------+---------------------+-----------------------+---------------------------+---------------------+------------------+----------------------------------+----------------------------------------+------------------------------------+
only showing top 2 rows

In [12]:
#look at data in row format
public_location.head()

Row(_c0=0, location_id='ALK1', location_name_primary='ALKI AVE SW', location_name_secondary='BETWEEN MARINE AVE SW AND 59TH AVE SW', location_blockface_elmntkey=76698.0, location_neighborhood='Alki', location_character='Commercial', location_area_typology_subcategory='Block face', location_average_number_commercial_seats=0.0, location_average_number_public_seats=6.0)

#### *Read data about public staying*

In [13]:
#read data
public_staying = spark.read.csv('public_staying.csv', sep = ',', inferSchema=True, header=True)

In [14]:
# datatype
print(type(public_staying))

<class 'pyspark.sql.dataframe.DataFrame'>

In [15]:
# print schema
public_staying.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- location_id: string (nullable = true)
 |-- staying_time_start: string (nullable = true)
 |-- staying_time_of_day: string (nullable = true)
 |-- staying_group_size: string (nullable = true)
 |-- staying_gender: string (nullable = true)
 |-- staying_age: string (nullable = true)
 |-- day_of_week: string (nullable = true)

In [16]:
# table
public_staying.show(2)

+---+-----------+--------------------+-------------------+------------------+--------------+-----------+-----------+
|_c0|location_id|  staying_time_start|staying_time_of_day|staying_group_size|staying_gender|staying_age|day_of_week|
+---+-----------+--------------------+-------------------+------------------+--------------+-----------+-----------+
|  2|       MAP1|08/02/2018 08:20:...|            Morning|                 3|        Female|      45-64|   Thursday|
|  3|       MAP1|08/02/2018 08:20:...|            Morning|                 3|        Female|      45-64|   Thursday|
+---+-----------+--------------------+-------------------+------------------+--------------+-----------+-----------+
only showing top 2 rows

In [17]:
#table in row format, head
public_staying.head()

Row(_c0=2, location_id='MAP1', staying_time_start='08/02/2018 08:20:00 AM', staying_time_of_day='Morning', staying_group_size='3', staying_gender='Female', staying_age='45-64', day_of_week='Thursday')

#### *Read data about park address*

In [18]:
#read data
park_address = spark.read.csv('park_address.csv', sep = ',', inferSchema=True, header=True)

In [19]:
# data type
print(type(park_address))

<class 'pyspark.sql.dataframe.DataFrame'>

In [20]:
# schema
park_address.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- PMAID: integer (nullable = true)
 |-- LocID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- ZIP Code: integer (nullable = true)
 |-- X Coord: double (nullable = true)
 |-- Y Coord: double (nullable = true)
 |-- Location 1: string (nullable = true)

In [21]:
#table, show first 2 rows
park_address.show(2)

+---+-----+-----+--------------------+---------------+--------+-----------+---------+--------------------+
|_c0|PMAID|LocID|                Name|        Address|ZIP Code|    X Coord|  Y Coord|          Location 1|
+---+-----+-----+--------------------+---------------+--------+-----------+---------+--------------------+
|  0|  281| 2545|12th and Howe Pla...| 1200 W Howe St|   98119|-122.372985|47.636097|(47.636097, -122....|
|  1| 4159| 2387|12th Ave S Viewpoint|2821 12TH Ave S|   98144|-122.317765|47.577953|(47.577953, -122....|
+---+-----+-----+--------------------+---------------+--------+-----------+---------+--------------------+
only showing top 2 rows

In [22]:
#head
park_address.head()

Row(_c0=0, PMAID=281, LocID=2545, Name='12th and Howe Play Park', Address='1200 W Howe St', ZIP Code=98119, X Coord=-122.372985, Y Coord=47.636097, Location 1='(47.636097, -122.372985)')

In [23]:
park_address.count()

412

### Join tables  about parking and life data for preprocessing

In [24]:
#choose distinct values from dataset about parking
parking_dist_blockface = parking_30days.select('SourceElementKey', 'BlockfaceName', 'ParkingTimeLimitCategory').distinct()
parking_dist_blockface.show()

+----------------+--------------------+------------------------+
|SourceElementKey|       BlockfaceName|ParkingTimeLimitCategory|
+----------------+--------------------+------------------------+
|         58686.0|WALL ST BETWEEN 2...|                   240.0|
|         13549.0|WESTLAKE AVE N BE...|                   120.0|
|         14697.0|E PINE ST BETWEEN...|                   120.0|
|         58186.0|SPRING ST BETWEEN...|                   120.0|
|          1433.0|11TH AVE NE BETWE...|                   240.0|
|         13313.0|VIRGINIA ST BETWE...|                   120.0|
|         47225.0|15TH AVE NE BETWE...|                   120.0|
|         35849.0|UNIVERSITY WAY NE...|                   120.0|
|        120105.0|EASTLAKE AVE E BE...|                   600.0|
|        120198.0|WESTLAKE EAST RDW...|                   120.0|
|         68550.0|W JOHN ST BETWEEN...|                   240.0|
|         11590.0|MADISON ST BETWEE...|                   120.0|
|         77994.0|DEXTER AVE N BETW...|                   120.0|
|         69134.0|1ST AVE W BETWEEN...|                   240.0|
|         76053.0|7TH AVE BETWEEN L...|                   240.0|
|         45974.0|W MERCER ST BETWE...|                   240.0|
|         54514.0|BLANCHARD ST BETW...|                   120.0|
|         54074.0|ALOHA ST BETWEEN ...|                   600.0|
|         34661.0|OLIVE WAY BETWEEN...|                   120.0|
|         57898.0|ROOSEVELT WAY NE ...|                   240.0|
+----------------+--------------------+------------------------+
only showing top 20 rows

#### For the first purpose of business idea Visualize parking areas near public places and parks I will
 Build a heatmap of parking areas near public places and parks, describe their number by location and percent of total parking areas (the area – a public place or a park, color - the number of parking areas)
 So make appropriate metrics

In [25]:
# parking in parks area. We so that there are 412 rows in table park_adress but when I had done left join I got many rows with null values. So I decided to show only parks with parking zone
parking_location1_parks = park_address.join(parking_dist_blockface, park_address['LocID'] == parking_dist_blockface['SourceElementKey'], "inner").\
select([park_address.LocID] +[parking_dist_blockface.BlockfaceName])
parking_location1_parks.show()

+-----+--------------------+
|LocID|       BlockfaceName|
+-----+--------------------+
| 1617|12TH AVE NE BETWE...|
| 1277|1ST AVE W BETWEEN...|
| 1281|1ST AVE W BETWEEN...|
| 1434|11TH AVE NE BETWE...|
| 1821|13TH AVE BETWEEN ...|
| 1233|10TH AVE BETWEEN ...|
| 1045|1ST AVE N BETWEEN...|
| 1213|1ST AVE S BETWEEN...|
+-----+--------------------+

In [26]:
#save results about parks and parking area
parking_location1_parks.write.parquet('spark_results\parking_parks')

In [27]:
#choose rows which we need for heatmap and bar with time limit for parking in public locations
parking_location2 = public_location.join(parking_dist_blockface, public_location['location_blockface_elmntkey'] == parking_dist_blockface['SourceElementKey'], "left").\
select([public_location.location_id, public_location.location_name_primary, public_location.location_name_secondary]+[parking_dist_blockface.BlockfaceName, parking_dist_blockface.ParkingTimeLimitCategory])
parking_location2.show()

+-----------+---------------------+-----------------------+--------------------+------------------------+
|location_id|location_name_primary|location_name_secondary|       BlockfaceName|ParkingTimeLimitCategory|
+-----------+---------------------+-----------------------+--------------------+------------------------+
|       BRY2|           NE 65TH ST|   BETWEEN 31ST AVE ...|                null|                    null|
|       BLT2|              BELL ST|   BETWEEN 2ND AVE A...|                null|                    null|
|       ALK1|          ALKI AVE SW|   BETWEEN MARINE AV...|                null|                    null|
|       BRY1|           NE 65TH ST|   BETWEEN 32ND E AV...|                null|                    null|
|       BAL1|         NW MARKET ST|   BETWEEN 22ND AVE ...|NW MARKET ST BETW...|                   120.0|
|       BAL2|         NW MARKET ST|   BETWEEN  BALLARD ...|                null|                    null|
|       BLT3|              2ND AVE|   BETWEEN BATTERY S...|2ND AVE BETWEEN B...|                   240.0|
|       BAL4|       BALLARD AVE NW|   BETWEEN NW MARKET...|BALLARD AVE NW BE...|                   120.0|
|       CAP3|            E JOHN ST|   BETWEEN BROADWAY ...|                null|                    null|
|       BAL3|       BALLARD AVE NW|   BETWEEN NW VERNON...|BALLARD AVE NW BE...|                   120.0|
|       BLT4|              4TH AVE|   BETWEEN VIRGINIA ...|4TH AVE BETWEEN V...|                   120.0|
|       CAP4|         E  OLIVE WAY|   BETWEEN E HOWELL ...|                null|                    null|
|       BEA1|          S LANDER ST|   BETWEEN 16TH AVE ...|                null|                    null|
|       BEA2|         BEACON AVE S|   BETWEEN S LANDER ...|                null|                    null|
|       CAP1|             BROADWAY|   BETWEEN HARRISON ...|BROADWAY E BETWEE...|                   120.0|
|       CAP2|             15TH AVE|   BETWEEN HARRISON ...|                null|                    null|
|       CID1|         S JACKSON ST|   BETWEEN 5TH AVE A...|                null|                    null|
|       BLT1|              3RD AVE|   BETWEEN VIRGINIA ...|                null|                    null|
|       BLV1|         LINDEN AVE N|   BETWEEN N 130TH S...|                null|                    null|
|       BLV2|         LINDEN AVE N|   BETWEEN N 130TH S...|                null|                    null|
+-----------+---------------------+-----------------------+--------------------+------------------------+
only showing top 20 rows

In [28]:
# make a calculation for building map about location and parking areas
parking_location2.groupby("location_id","BlockfaceName").agg({"BlockfaceName":"count"}).show(3000)

+-----------+--------------------+--------------------+
|location_id|       BlockfaceName|count(BlockfaceName)|
+-----------+--------------------+--------------------+
|       FHT1|                null|                   0|
|       BLT2|                null|                   0|
|       GPR3|                null|                   0|
|       COM2|                null|                   0|
|       UNI3|                null|                   0|
|       RSV2|                null|                   0|
|       UQA1|                null|                   0|
|       OTH2|                null|                   0|
|       PIO8|YESLER WAY BETWEE...|                   1|
|       PIO7|                null|                   0|
|       UNI6|                null|                   0|
|       BAL1|NW MARKET ST BETW...|                   1|
|       WAL4|                null|                   0|
|       WES1|                null|                   0|
|       BLT1|                null|                   0|
|       UNI4|NE 42ND ST BETWEE...|                   1|
|       UPT2|TAYLOR AVE N BETW...|                   1|
|       WHP1|                null|                   0|
|       PIO1|2ND AV ET S BETWE...|                   1|
|       SLU1|PONTIUS AVE N BET...|                   1|
|       CAP1|BROADWAY E BETWEE...|                   1|
|       PIO6|                null|                   0|
|       NOR1|                null|                   0|
|      PIO19|                null|                   0|
|       BEA1|                null|                   0|
|       COL1|RAINIER AVE S BET...|                   1|
|       FRE2|FREMONT AVE N BET...|                   1|
|       GPR1|                null|                   0|
|       UQA2|                null|                   0|
|       LAK2|                null|                   0|
|       COL2|RAINIER AVE S BET...|                   1|
|       RAV3|                null|                   0|
|       GPR4|                null|                   0|
|       BLT3|2ND AVE BETWEEN B...|                   1|
|       SLU4|HARRISON ST BETWE...|                   1|
|       OTH3|                null|                   0|
|       OTH1|                null|                   0|
|       MAP2|                null|                   0|
|       WES3|                null|                   0|
|       GPR2|                null|                   0|
|       PIO3|1ST AVE S BETWEEN...|                   1|
|       BRY2|                null|                   0|
|       UPT3|                null|                   0|
|       PIK3|BROADWAY BETWEEN ...|                   1|
|       SOP2|                null|                   0|
|       PIK5|MELROSE AVE BETWE...|                   1|
|       PIO4|                null|                   0|
|       MAG1|                null|                   0|
|       CID3|S KING ST BETWEEN...|                   1|
|       BEA2|                null|                   0|
|       CID4|                null|                   0|
|       ALK1|                null|                   0|
|       CAP2|                null|                   0|
|       MTB2|                null|                   0|
|       NOR2|                null|                   0|
|       UPT1|QUEEN ANNE AVE N ...|                   1|
|       MAG2|                null|                   0|
|       BLV2|                null|                   0|
|       UNI5|                null|                   0|
|       COM3|                null|                   0|
|       COM4|                null|                   0|
|       BAL4|BALLARD AVE NW BE...|                   1|
|       RAI1|                null|                   0|
|       BLV1|                null|                   0|
|       SLU2|TERRY AVE N BETWE...|                   1|
|       PIO2|                null|                   0|
|       CAP4|                null|                   0|
|       WAL2|                null|                   0|
|       TUJ2|                null|                   0|
|      PIO14|                null|                   0|
|       BAL3|BALLARD AVE NW BE...|                   1|
|       CRO1|                null|                   0|
|       WAL1|                null|                   0|
|       BAL2|                null|                   0|
|       BLT4|4TH AVE BETWEEN V...|                   1|
|       UNI1|UNIVERSITY WAY NE...|                   1|
|       RSV1|                null|                   0|
|       GEO1|                null|                   0|
|       PIO5|                null|                   0|
|       FHT3|                null|                   0|
|       DEN2|                null|                   0|
|       DEN4|6TH AVE BETWEEN L...|                   1|
|       CRO2|                null|                   0|
|       GEO2|                null|                   0|
|       RAV2|                null|                   0|
|       RAV1|                null|                   0|
|       FHT2|                null|                   0|
|       FRE1|                null|                   0|
|       PIK4|                null|                   0|
|       DEN3|7TH AVE BETWEEN W...|                   1|
|       RAV4|                null|                   0|
|       MAP1|                null|                   0|
|       TUJ1|                null|                   0|
|       WED1|                null|                   0|
|       SLU3|                null|                   0|
|       WED2|                null|                   0|
|       COM1|                null|                   0|
|       UPT4|1ST AVE W BETWEEN...|                   1|
|       BRY1|                null|                   0|
|       MTB1|                null|                   0|
|       FHT4|12TH AVE BETWEEN ...|                   1|
|       MAM2|                null|                   0|
|       DEN1|                null|                   0|
|       MAM1|                null|                   0|
|       WES2|                null|                   0|
|       PIK2|10TH AVE BETWEEN ...|                   1|
|       RAI2|                null|                   0|
|       CID1|                null|                   0|
|       WES4|                null|                   0|
|       CID2|MAYNARD AVE S BET...|                   1|
|       LAK1|                null|                   0|
|       WAL3|                null|                   0|
|       SOP1|                null|                   0|
|      PIO12|                null|                   0|
|       ALK2|                null|                   0|
|       UNI7|                null|                   0|
|       PIK1|                null|                   0|
|       UNI2|UNIVERSITY WAY NE...|                   1|
|       CAP3|                null|                   0|
|       WHP2|                null|                   0|
+-----------+--------------------+--------------------+

In [29]:
parking_location2.write.parquet('spark_results\publicLocation_parkingZone')

We have gotten the information for a heatmap

### 2.To Compare the occupancy in parking areas and seats in public places by area and day
 I will calculate the percent of occupied parking places and seats in public places by area, day and time

In [30]:
# join  table parking and location
parking_occup = public_location.join(parking_30days, public_location['location_blockface_elmntkey'] == parking_30days['SourceElementKey'], "inner").\
select([public_location.location_id, public_location.location_name_primary, public_location.location_name_secondary] + [parking_30days.BlockfaceName,parking_30days.PaidOccupancy,  parking_30days.ParkingTimeLimitCategory, parking_30days.ParkingSpaceCount, parking_30days.DayWeek])
parking_occup.show(2)

+-----------+---------------------+-----------------------+--------------------+-------------+------------------------+-----------------+---------+
|location_id|location_name_primary|location_name_secondary|       BlockfaceName|PaidOccupancy|ParkingTimeLimitCategory|ParkingSpaceCount|  DayWeek|
+-----------+---------------------+-----------------------+--------------------+-------------+------------------------+-----------------+---------+
|       PIK2|             10TH AVE|   BETWEEN PIKE ST A...|10TH AVE BETWEEN ...|          5.0|                   120.0|              9.0|Wednesday|
|       DEN3|              7TH AVE|   BETWEEN WESTLAKE ...|7TH AVE BETWEEN W...|          4.0|                   120.0|              4.0|Wednesday|
+-----------+---------------------+-----------------------+--------------------+-------------+------------------------+-----------------+---------+
only showing top 2 rows

In [31]:
parking_occup.head()

Row(location_id='PIK2', location_name_primary='10TH AVE', location_name_secondary='BETWEEN PIKE ST AND PINE ST', BlockfaceName='10TH AVE BETWEEN E PIKE ST AND E PINE ST', PaidOccupancy='5.0', ParkingTimeLimitCategory='120.0', ParkingSpaceCount='9.0', DayWeek='Wednesday')

In [32]:
parking_occup.first

<bound method DataFrame.first of DataFrame[location_id: string, location_name_primary: string, location_name_secondary: string, BlockfaceName: string, PaidOccupancy: string, ParkingTimeLimitCategory: string, ParkingSpaceCount: string, DayWeek: string]>

#### Parking occupancy by location

In [33]:
parking_occup_percent = parking_occup.groupby('location_id').agg({"PaidOccupancy":"sum",  "ParkingSpaceCount":"sum"})

In [34]:
parking_occup_percent = parking_occup_percent.select('location_id', F.round(F.col('sum(PaidOccupancy)')/F.col('sum(ParkingSpaceCount)')*100, 1).alias('parking_occupancy'))
parking_occup_percent.sort(F.col('parking_occupancy').desc()).show(5)

+-----------+-----------------+
|location_id|parking_occupancy|
+-----------+-----------------+
|       COL1|             74.7|
|       CAP1|             73.1|
|       UPT2|             69.9|
|       BAL1|             67.8|
|       BLT4|             66.6|
+-----------+-----------------+
only showing top 5 rows

In [35]:
parking_occup_percent.write.parquet('spark_results\parking_occup_location')

#### Parking occupancy by day of week

In [36]:
parking_occup_dayweek = parking_occup.groupby('DayWeek').agg({"PaidOccupancy":"sum",  "ParkingSpaceCount":"sum"})

In [37]:
parking_occup_dayweek = parking_occup_dayweek.select('DayWeek', F.round(F.col('sum(PaidOccupancy)')/F.col('sum(ParkingSpaceCount)')*100, 1).alias('Parking occupancy'))
parking_occup_dayweek.sort(F.col('Parking occupancy').desc()).show()

+---------+-----------------+
|  DayWeek|Parking occupancy|
+---------+-----------------+
|  Tuesday|             54.1|
| Thursday|             53.3|
|   Friday|             48.9|
| Saturday|             48.9|
|Wednesday|             47.6|
|   Monday|             43.0|
+---------+-----------------+

In [38]:
parking_occup_dayweek.write.parquet('spark_results\parking_occup_dayweek')

### Seats occupancy in public places

In [39]:
# in table about location sum the number of commercial and public seats ad columns for next steps
location_seats_sum = public_location.select('location_id', (F.col('location_average_number_commercial_seats')+ F.col('location_average_number_public_seats')).alias('location_total_seats'))

In [40]:
#join tables about location and public staying
location_staying = location_seats_sum.join(public_staying, on='location_id', how='inner').\
select([location_seats_sum.location_id, location_seats_sum.location_total_seats] + [public_staying.staying_time_of_day, public_staying.staying_group_size,public_staying.day_of_week])
location_staying.show(10)

+-----------+--------------------+-------------------+------------------+-----------+
|location_id|location_total_seats|staying_time_of_day|staying_group_size|day_of_week|
+-----------+--------------------+-------------------+------------------+-----------+
|       MAP1|                16.0|            Morning|                 3|   Thursday|
|       MAP1|                16.0|            Morning|                 3|   Thursday|
|       MAP1|                16.0|            Morning|                 3|   Thursday|
|       MAP1|                16.0|            Morning|                 1|   Thursday|
|       MAP1|                16.0|            Morning|                 2|   Thursday|
|       MAP1|                16.0|            Morning|                 2|   Thursday|
|       MAP1|                16.0|             Midday|                 1|   Thursday|
|       MAP1|                16.0|             Midday|                 1|   Thursday|
|       MAP1|                16.0|             Midday|                 2|   Thursday|
|       MAP1|                16.0|             Midday|                 2|   Thursday|
+-----------+--------------------+-------------------+------------------+-----------+
only showing top 10 rows

#### Seats occupancy by location

In [41]:
location_occup = location_staying.groupby("location_id").agg({"staying_group_size":"sum","location_total_seats":"sum"}).select("location_id", F.col('sum(staying_group_size)'), F.col('sum(location_total_seats)'), F.col('sum(staying_group_size)') > F.col('sum(location_total_seats)'))

location_occup.show(10)

+-----------+-----------------------+-------------------------+-----------------------------------------------------+
|location_id|sum(staying_group_size)|sum(location_total_seats)|(sum(staying_group_size) > sum(location_total_seats))|
+-----------+-----------------------+-------------------------+-----------------------------------------------------+
|       BAL4|                  272.0|                    512.0|                                                false|
|       BAL3|                  791.0|                   7300.0|                                                false|
|       FHT1|                  116.0|                      0.0|                                                 true|
|       BLT2|                  238.0|                   4485.0|                                                false|
|       GPR3|                   26.0|                      0.0|                                                 true|
|       COM2|                  388.0|                   1719.0|                                                false|
|       UNI3|                  156.0|                    700.0|                                                false|
|       RSV2|                    2.0|                      2.0|                                                false|
|       SLU1|                   14.0|                      0.0|                                                 true|
|       UQA1|                  130.0|                    960.0|                                                false|
+-----------+-----------------------+-------------------------+-----------------------------------------------------+
only showing top 10 rows

This calculation shows that in some public places there are not seats but people go shopping, play, smoke, wait for somebody. That is explained by the square of public location that they have many possibilites to spend time.

In [42]:
seats_occup_perc = location_occup.select("location_id", F.round(F.col('sum(staying_group_size)')/F.col('sum(location_total_seats)')*100, 1).alias('Seats occupancy'))
seats_occup_perc.sort(F.col('Seats occupancy').desc()).show(10)

+-----------+---------------+
|location_id|Seats occupancy|
+-----------+---------------+
|       UNI1|          555.6|
|       SOP2|          228.6|
|       WAL3|          132.1|
|       WAL4|          125.0|
|       RAI2|          110.0|
|       RSV2|          100.0|
|       CID3|           97.8|
|       SOP1|           95.7|
|       OTH2|           76.5|
|       LAK1|           76.1|
+-----------+---------------+
only showing top 10 rows

In [43]:
seats_occup_perc.write.parquet('spark_results\seats_occup_perc')

#### Seats occupancy by day of week

In [44]:
location_occup_dayweek = location_staying.groupby("day_of_week").agg({"staying_group_size":"sum","location_total_seats":"sum"}).select("day_of_week", F.col('sum(staying_group_size)'), F.col('sum(location_total_seats)'), F.col('sum(staying_group_size)') > F.col('sum(location_total_seats)'))

location_occup_dayweek.show()

+-----------+-----------------------+-------------------------+-----------------------------------------------------+
|day_of_week|sum(staying_group_size)|sum(location_total_seats)|(sum(staying_group_size) > sum(location_total_seats))|
+-----------+-----------------------+-------------------------+-----------------------------------------------------+
|  Wednesday|                 3080.0|                  14534.0|                                                false|
|    Tuesday|                 1711.0|                  15578.0|                                                false|
|     Friday|                 2996.0|                  22329.0|                                                false|
|   Thursday|                 4065.0|       21512.899999999998|                                                false|
|   Saturday|                 3777.0|                  25500.0|                                                false|
|     Monday|                  789.0|                   8034.0|                                                false|
+-----------+-----------------------+-------------------------+-----------------------------------------------------+

In [45]:
seats_occup_dayweek = location_occup_dayweek.select("day_of_week", F.round(F.col('sum(staying_group_size)')/F.col('sum(location_total_seats)')*100, 1).alias('Seats occupancy'))
seats_occup_dayweek.sort(F.col('Seats occupancy').desc()).show()

+-----------+---------------+
|day_of_week|Seats occupancy|
+-----------+---------------+
|  Wednesday|           21.2|
|   Thursday|           18.9|
|   Saturday|           14.8|
|     Friday|           13.4|
|    Tuesday|           11.0|
|     Monday|            9.8|
+-----------+---------------+

In [46]:
seats_occup_dayweek.write.parquet('spark_results\seats_occup_dayweek')

#### Seats occupancy by timeslot

In [47]:
location_occup_timeslot = location_staying.groupby("staying_time_of_day").agg({"staying_group_size":"sum","location_total_seats":"sum"}).\
select("staying_time_of_day", F.col('sum(staying_group_size)'), F.col('sum(location_total_seats)'),\
(F.col('sum(staying_group_size)') > F.col('sum(location_total_seats)')).alias('people > seats')).\
withColumnRenamed('sum(staying_group_size)', 'sum_num_people').withColumnRenamed('sum(location_total_seats)', 'sum_seats')

location_occup_timeslot.show()

+-------------------+--------------+------------------+--------------+
|staying_time_of_day|sum_num_people|         sum_seats|people > seats|
+-------------------+--------------+------------------+--------------+
|            Evening|        6932.0|45990.899999999994|         false|
|            Morning|        2767.0|           16325.0|         false|
|      Early Evening|         155.0|            1313.0|         false|
|             Midday|        6564.0|           43859.0|         false|
+-------------------+--------------+------------------+--------------+

In [48]:
seats_occup_timeslot = location_occup_timeslot.select("staying_time_of_day", F.round(F.col('sum_num_people')/F.col('sum_seats')*100, 1).alias('Seats occupancy'))
seats_occup_timeslot.sort(F.col('Seats occupancy').desc()).show()

+-------------------+---------------+
|staying_time_of_day|Seats occupancy|
+-------------------+---------------+
|            Morning|           16.9|
|            Evening|           15.1|
|             Midday|           15.0|
|      Early Evening|           11.8|
+-------------------+---------------+

#### Seats occupancy by day and timeslot

In [49]:
location_occup_day_timeslot = location_staying.groupby("day_of_week", "staying_time_of_day").agg({"staying_group_size":"sum","location_total_seats":"sum"}).select("day_of_week", "staying_time_of_day", F.col('sum(staying_group_size)'), F.col('sum(location_total_seats)'), F.col('sum(staying_group_size)') > F.col('sum(location_total_seats)'))

location_occup_day_timeslot.show(5)

+-----------+-------------------+-----------------------+-------------------------+-----------------------------------------------------+
|day_of_week|staying_time_of_day|sum(staying_group_size)|sum(location_total_seats)|(sum(staying_group_size) > sum(location_total_seats))|
+-----------+-------------------+-----------------------+-------------------------+-----------------------------------------------------+
|     Monday|             Midday|                  246.0|                   2734.0|                                                false|
|   Thursday|             Midday|                 1563.0|                   8120.0|                                                false|
|   Thursday|            Evening|                 1609.0|        8474.900000000001|                                                false|
|     Friday|            Morning|                  439.0|                   3473.0|                                                false|
|  Wednesday|            Morning|                  856.0|                   3155.0|                                                false|
+-----------+-------------------+-----------------------+-------------------------+-----------------------------------------------------+
only showing top 5 rows

In [50]:
seats_occup_day_timeslot = location_occup_day_timeslot.select("day_of_week", "staying_time_of_day", F.round(F.col('sum(staying_group_size)')/F.col('sum(location_total_seats)')*100, 1).alias('Seats occupancy'))
seats_occup_day_timeslot.sort(F.col('Seats occupancy').desc()).show(5)

+-----------+-------------------+---------------+
|day_of_week|staying_time_of_day|Seats occupancy|
+-----------+-------------------+---------------+
|  Wednesday|            Morning|           27.1|
|  Wednesday|            Evening|           19.6|
|  Wednesday|             Midday|           19.5|
|   Thursday|             Midday|           19.2|
|   Thursday|            Evening|           19.0|
+-----------+-------------------+---------------+
only showing top 5 rows

In [51]:
seats_occup_day_timeslot.write.parquet('spark_results\seats_occup_day_timeslot')

# 3. To compare the parking time limit for paid parking area in public places
I will Build a map with public places and time limit for parking \
So make calculations for this goal

In [52]:
location_timelimit = parking_location2.select("location_id", "ParkingTimeLimitCategory")
location_timelimit.show(5)

+-----------+------------------------+
|location_id|ParkingTimeLimitCategory|
+-----------+------------------------+
|       ALK1|                    null|
|       BAL1|                   120.0|
|       BAL2|                    null|
|       BAL4|                   120.0|
|       BAL3|                   120.0|
+-----------+------------------------+
only showing top 5 rows

#### Null means that there are no parking areas in public place!

In [53]:
location_timelimit.count()

120

# 4. To visualize the number of paid parking areas by time limit near public places
I will build a bar with a number of paid parking areas by time limit.\
So make appropriate calculations

In [54]:
timelimit_number = parking_location2.groupby('ParkingTimeLimitCategory').agg({'ParkingTimeLimitCategory':'count'})
timelimit_number.show()

+------------------------+-------------------------------+
|ParkingTimeLimitCategory|count(ParkingTimeLimitCategory)|
+------------------------+-------------------------------+
|                   120.0|                             25|
|                    null|                              0|
|                   240.0|                              2|
|                   600.0|                              2|
+------------------------+-------------------------------+

In [55]:
timelimit_number = timelimit_number.na.drop()
timelimit_number.show()

+------------------------+-------------------------------+
|ParkingTimeLimitCategory|count(ParkingTimeLimitCategory)|
+------------------------+-------------------------------+
|                   120.0|                             25|
|                   240.0|                              2|
|                   600.0|                              2|
+------------------------+-------------------------------+

In [56]:
timelimit_number.write.parquet('spark_results\TimesLimitsNumbers')

# To 6.	Describe in which time (morning, midday or afternoon) there are more men, women or children by age
I will calculate build 3 gender bar (morning, midday or afternoon) for visiting public places\
So make appropriate calculations

In [57]:
public_staying.columns

['_c0',
 'location_id',
 'staying_time_start',
 'staying_time_of_day',
 'staying_group_size',
 'staying_gender',
 'staying_age',
 'day_of_week']

In [58]:
public_staying_gender = public_staying.groupby("staying_gender").count()
public_staying_gender.show()

+--------------+-----+
|staying_gender|count|
+--------------+-----+
|        Female| 4043|
|       Unknown|   74|
|          Male| 6703|
+--------------+-----+

In [59]:
public_staying_gender.write.parquet('spark_results\public_staying_gender')

In [60]:
public_staying_age = public_staying.groupby("staying_age").count()
public_staying_age.sort(F.col('staying_age').desc()).show()

+-----------+-----+
|staying_age|count|
+-----------+-----+
|        65+|  605|
|       5-14|  176|
|      45-64| 2859|
|      25-64|  416|
|      25-44| 5657|
|      15-24| 1004|
|        0-4|  103|
+-----------+-----+

In [61]:
public_staying_age.write.parquet('spark_results\public_staying_age')

In [62]:
time_gender = public_staying.groupby('staying_time_of_day').agg({'staying_gender':'count'})
time_gender.sort(F.col('count(staying_gender)').desc()).show()

+-------------------+---------------------+
|staying_time_of_day|count(staying_gender)|
+-------------------+---------------------+
|            Evening|                 4534|
|             Midday|                 4192|
|            Morning|                 2008|
|      Early Evening|                   86|
+-------------------+---------------------+

In [63]:
time_gender.write.parquet('spark_results\TimesGender')

In [64]:
time_gender2 = public_staying.groupby('staying_time_of_day', 'staying_gender').count()
time_gender2.show()

+-------------------+--------------+-----+
|staying_time_of_day|staying_gender|count|
+-------------------+--------------+-----+
|             Midday|          Male| 2587|
|            Morning|       Unknown|   14|
|      Early Evening|          Male|   51|
|            Morning|          Male| 1350|
|            Evening|       Unknown|   24|
|            Morning|        Female|  644|
|             Midday|        Female| 1569|
|            Evening|          Male| 2715|
|             Midday|       Unknown|   36|
|            Evening|        Female| 1795|
|      Early Evening|        Female|   35|
+-------------------+--------------+-----+

In [65]:
time_gender2.write.parquet('spark_results\TimesGender2')

In [66]:
time_age = public_staying.groupby('staying_time_of_day', 'staying_age').count()
time_age.show()

+-------------------+-----------+-----+
|staying_time_of_day|staying_age|count|
+-------------------+-----------+-----+
|      Early Evening|      25-64|   84|
|            Evening|      45-64| 1162|
|            Evening|      15-24|  459|
|             Midday|        65+|  283|
|             Midday|        0-4|   49|
|             Midday|       5-14|   86|
|            Evening|      25-64|  208|
|             Midday|      45-64| 1072|
|            Evening|       5-14|   69|
|            Evening|      25-44| 2391|
|            Morning|      15-24|  131|
|             Midday|      15-24|  413|
|            Morning|        0-4|   14|
|            Morning|        65+|  116|
|            Evening|        65+|  205|
|             Midday|      25-44| 2165|
|            Morning|      45-64|  625|
|            Morning|       5-14|   21|
|            Morning|      25-44| 1101|
|            Evening|        0-4|   40|
+-------------------+-----------+-----+
only showing top 20 rows

In [67]:
time_age.write.parquet('spark_results\TimesAge')