The project idea is to find parking areas near public life places or parks for choosing the place for the rest with suitable conditions.
Bussines description: 
1. Visualize parking areas near public places and parks.
2. Compare the occupancy in parking areas and seats in public places by area and time.
3. Compare the parking time limit for paid parking area in public places. 
4. Visualize the number of paid parking areas by time limit near public places and parks.
5. Find which days of the week, months (if I will have resources) are the busiest.
6. Describe in which time (morning, midday or afternoon) there are more men, women or children by age.

In [1]:
import pandas as pd
from datetime import datetime as dt
import numpy as np

#### Read data about parking

In [178]:

parking_48 = pd.read_csv(r"..\..\data_engineering_course\task_DE\data\Paid_Parking__Last_48_Hours_.csv")
parking_48.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SideOfStreet,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,PaidParkingSubArea,PaidParkingRate,ParkingCategory,Location
0,8/9/2022 8:10,2,OCCIDENTAL AVE S BETWEEN S KING W ST AND RAILR...,W,80001,120.0,7,Pioneer Square,Edge,NaN,Paid Parking,POINT (-122.33338994 47.59675354)
1,8/9/2022 12:31,5,ALASKAN WAY BETWEEN VIRGINIA ST AND LENORA ST,SW,76621,120.0,16,Belltown,South,NaN,Paid Parking,POINT (-122.34572989 47.6095449)

In [177]:
parking_30days = pd.read_csv(r"..\..\data_engineering_course\task_DE\data\Paid_Parking_Occupancy__Last_30_Days_.csv")
parking_30days.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SideOfStreet,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,PaidParkingSubArea,PaidParkingRate,ParkingCategory,Location
0,7/20/2022 18:23,1,4TH AVE BETWEEN MADISON ST AND SPRING ST,SW,51473,120.0,6,Commercial Core,Financial,NaN,Paid Parking,POINT (-122.33336524 47.60639351)
1,7/20/2022 19:42,4,WESTERN AVE BETWEEN CEDAR ST AND CLAY ST,SW,36121,240.0,6,Belltown,North,NaN,Paid Parking,POINT (-122.35199635 47.61536129)

#### Read data about public life

In [179]:
public_location = pd.read_csv(r"..\..\data_engineering_course\task_DE\data\Public_Life_Data_-_Locations.csv")
public_location.head(2)

,location_id,location_name_primary,location_name_secondary,location_detail,location_blockface_elmntkey,location_sidewalk_compkey,location_transit_stop_present,location_neighborhood_type,location_neighborhood,location_character,location_line_typology_vehicular,location_area_typology,location_area_typology_subcategory,location_total_sqft,location_average_number_commercial_seats,location_average_number_public_seats,location_country,location_region,location_city,location_notes
0,ALK1,ALKI AVE SW,BETWEEN MARINE AVE SW AND 59TH AVE SW,SE,76698.0,318968,Bus,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,2480.0,0.0,6.0,United States of America,Washington,Seattle,NaN
1,ALK2,ALKI AVE SW,BETWEEN 57TH AVE SW AND 58TH AVE SW,SE,8914.0,318972,None,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,1428.0,23.0,0.0,United States of America,Washington,Seattle,NaN

In [180]:
public_staying = pd.read_csv(r"..\..\data_engineering_course\task_DE\data\Public_Life_Data_-_People_Staying.csv")
public_staying.head(2)

,unique_staying_id,study_id,location_id,staying_time_start,staying_time_end,staying_day_of_week,staying_time_of_day,staying_count_surveyor,staying_conditions,staying_microclimate,...,working_civic,disruptive,disruptive_aggressive,disruptive_intoxicated,living_public,using_electronics,soliciting,staying_covid_mask,staying_covid_social_distance,staying_notes
0,632,2018_Seattle_Citywide,RAV4,09/14/2018 05:09:00 PM,09/14/2018 05:29:00 PM,Weekday,Evening,UD4H,NaN,Heavy Clouds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,920,2018_Seattle_Citywide,RAI2,08/11/2018 05:23:00 PM,08/11/2018 05:43:00 PM,Weekend,Evening,UD4H,NaN,Light Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read data about parks

In [181]:
park_address = pd.read_csv(r"..\..\data_engineering_course\task_DE\data\Seattle_Parks_And_Recreation_Park_Addresses.csv")
park_address.head(2)

,PMAID,LocID,Name,Address,ZIP Code,X Coord,Y Coord,Location 1
0,281,2545,12th and Howe Play Park,1200 W Howe St,98119,-122.372985,47.636097,"(47.636097, -122.372985)"
1,4159,2387,12th Ave S Viewpoint,2821 12TH Ave S,98144,-122.317765,47.577953,"(47.577953, -122.317765)"

In [182]:
park_features = pd.read_csv(r"..\..\data_engineering_course\task_DE\data\Seattle_Parks_and_Recreation_Parks_Features.csv")
park_features.head(2)

,PMAID,Name,Alt_Name,xPos,yPos,Feature_ID,hours,Feature_Desc,CHILD_DESC,FIELD_TYPE,YOUTH_ONLY,LIGHTING,Location 1
0,281,12th and Howe Play Park,NaN,-122.372985,47.636097,22,6 a.m. - 10 p.m.,Play Area,Play Area,NaN,False,False,"1200 W Howe St\n(-122.372985, 47.636097)"
1,4159,12th Ave S Viewpoint,NaN,-122.317765,47.577953,34,6 a.m. - 10 p.m.,View,NaN,NaN,False,False,"2821 12TH Ave S\n(-122.317765, 47.577953)"

### Parking_48 data preparation

In [8]:
parking_48.shape

(1048575, 12)

In [11]:
parking_48.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   OccupancyDateTime         1048575 non-null  object
 1   PaidOccupancy             1048575 non-null  int64
 2   BlockfaceName             1048575 non-null  object
 3   SideOfStreet              1048575 non-null  object
 4   SourceElementKey          1048575 non-null  int64
 5   ParkingTimeLimitCategory  1047296 non-null  float64
 6   ParkingSpaceCount         1048575 non-null  int64
 7   PaidParkingArea           1048575 non-null  object
 8   PaidParkingSubArea        762047 non-null   object
 9   PaidParkingRate           0 non-null        float64
 10  ParkingCategory           1048575 non-null  object
 11  Location                  1048575 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 96.0+ MB

In [14]:
parking_48.describe()

,PaidOccupancy,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingRate
count,1.048575e+06,1.048575e+06,1.047296e+06,1.048575e+06,0.0
mean,3.037925e+00,4.618630e+04,2.271959e+02,7.535829e+00,NaN
std,3.356127e+00,2.918847e+04,4.216029e+02,5.375816e+00,NaN
min,0.000000e+00,1.001000e+03,3.000000e+01,1.000000e+00,NaN
25%,1.000000e+00,1.948600e+04,1.200000e+02,4.000000e+00,NaN
50%,2.000000e+00,4.597400e+04,1.200000e+02,7.000000e+00,NaN
75%,4.000000e+00,7.075300e+04,2.400000e+02,9.000000e+00,NaN
max,7.300000e+01,1.363220e+05,4.320000e+03,5.400000e+01,NaN

In [15]:
 #a summary of all missing values for each column
parking_48.isnull().sum()

OccupancyDateTime                 0
PaidOccupancy                     0
BlockfaceName                     0
SideOfStreet                      0
SourceElementKey                  0
ParkingTimeLimitCategory       1279
ParkingSpaceCount                 0
PaidParkingArea                   0
PaidParkingSubArea           286528
PaidParkingRate             1048575
ParkingCategory                   0
Location                          0
dtype: int64

In [10]:
parking_48.columns

Index(['OccupancyDateTime', 'PaidOccupancy', 'BlockfaceName', 'SideOfStreet',
       'SourceElementKey', 'ParkingTimeLimitCategory', 'ParkingSpaceCount',
       'PaidParkingArea', 'PaidParkingSubArea', 'PaidParkingRate',
       'ParkingCategory', 'Location'],
      dtype='object')

In [17]:
# delete unusable columns
parking_48 = parking_48.drop(["SideOfStreet", "PaidParkingSubArea", "PaidParkingRate"], axis=1)
parking_48.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,ParkingCategory,Location
0,8/9/2022 8:10,2,OCCIDENTAL AVE S BETWEEN S KING W ST AND RAILR...,80001,120.0,7,Pioneer Square,Paid Parking,POINT (-122.33338994 47.59675354)
1,8/9/2022 12:31,5,ALASKAN WAY BETWEEN VIRGINIA ST AND LENORA ST,76621,120.0,16,Belltown,Paid Parking,POINT (-122.34572989 47.6095449)

In [103]:
parking_48.isnull().sum()

OccupancyDateTime              0
PaidOccupancy                  0
BlockfaceName                  0
SourceElementKey               0
ParkingTimeLimitCategory    1279
ParkingSpaceCount              0
PaidParkingArea                0
ParkingCategory                0
Location                       0
Date                           0
Time                           0
DayWeek                        0
Month                          0
TimeSlot                       0
dtype: int64

In [16]:
 parking_48["ParkingTimeLimitCategory"].unique()

array([ 120.,  240.,  600.,   nan,   30., 4320.])

In [106]:
# change nan on "Unknown" (column "ParkingTimeLimitCategory"), this information will be useful for local authority
parking_48.fillna("Unknown", inplace=True)

In [18]:
# make appropriate columns from column "OccupancyDateTime" by string split for date and time
#split columns
parking_48["Date"] = parking_48["OccupancyDateTime"].str.split(" ").str.get(0)
parking_48["Time"] = parking_48["OccupancyDateTime"].str.split(" ").str.get(1)

In [19]:
print(parking_48.head(2))

  OccupancyDateTime  PaidOccupancy  \
0     8/9/2022 8:10              2
1    8/9/2022 12:31              5

                                       BlockfaceName  SourceElementKey  \
0  OCCIDENTAL AVE S BETWEEN S KING W ST AND RAILR...             80001
1      ALASKAN WAY BETWEEN VIRGINIA ST AND LENORA ST             76621

   ParkingTimeLimitCategory  ParkingSpaceCount PaidParkingArea  \
0                     120.0                  7  Pioneer Square
1                     120.0                 16        Belltown

  ParkingCategory                           Location      Date   Time
0    Paid Parking  POINT (-122.33338994 47.59675354)  8/9/2022   8:10
1    Paid Parking   POINT (-122.34572989 47.6095449)  8/9/2022  12:31

In [20]:
# create clumn day of week and month
parking_48["DayWeek"] = pd.to_datetime(parking_48["OccupancyDateTime"]).dt.day_name() #weekday_name isn't used
parking_48["Month"] = pd.to_datetime(parking_48["OccupancyDateTime"]).dt.month

In [21]:
#create a new column "TimeSlot" by condition according to time slots in file about public life people staying
#create a list of conditions
conditions = [(parking_48["Time"] >= "6:00") & (parking_48["Time"] < "11:00"),
              (parking_48["Time"] >= "11:00") & (parking_48["Time"] < "15:00"),
              (parking_48["Time"] >= "15:00") & (parking_48["Time"] < "17:00"),
              (parking_48["Time"] >= "17:00")]
              

# create a list of the values we want to assign for each condition
values = [#"early morning", 
          "Morning", "Midday", " Early Evening", "Evening"]
  
#create a new column
parking_48["TimeSlot"] = np.select(conditions, values)

In [22]:
parking_48.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,ParkingCategory,Location,Date,Time,DayWeek,Month,TimeSlot
0,8/9/2022 8:10,2,OCCIDENTAL AVE S BETWEEN S KING W ST AND RAILR...,80001,120.0,7,Pioneer Square,Paid Parking,POINT (-122.33338994 47.59675354),8/9/2022,8:10,Tuesday,8,Evening
1,8/9/2022 12:31,5,ALASKAN WAY BETWEEN VIRGINIA ST AND LENORA ST,76621,120.0,16,Belltown,Paid Parking,POINT (-122.34572989 47.6095449),8/9/2022,12:31,Tuesday,8,Midday

now everything should be fine

In [23]:
parking_48.to_csv("parking_48.csv")

### parking_30days data preparation

In [162]:
parking_30days.shape

(1048575, 12)

In [163]:
parking_30days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   OccupancyDateTime         1048575 non-null  object
 1   PaidOccupancy             1048575 non-null  int64
 2   BlockfaceName             1048575 non-null  object
 3   SideOfStreet              1048575 non-null  object
 4   SourceElementKey          1048575 non-null  int64
 5   ParkingTimeLimitCategory  1047363 non-null  float64
 6   ParkingSpaceCount         1048575 non-null  int64
 7   PaidParkingArea           1048575 non-null  object
 8   PaidParkingSubArea        754582 non-null   object
 9   PaidParkingRate           0 non-null        float64
 10  ParkingCategory           1048575 non-null  object
 11  Location                  1048575 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 96.0+ MB

In [164]:
parking_30days.isnull().sum()

OccupancyDateTime                 0
PaidOccupancy                     0
BlockfaceName                     0
SideOfStreet                      0
SourceElementKey                  0
ParkingTimeLimitCategory       1212
ParkingSpaceCount                 0
PaidParkingArea                   0
PaidParkingSubArea           293993
PaidParkingRate             1048575
ParkingCategory                   0
Location                          0
dtype: int64

In [165]:
parking_30days.describe()

,PaidOccupancy,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingRate
count,1.048575e+06,1.048575e+06,1.047363e+06,1.048575e+06,0.0
mean,3.029384e+00,4.579967e+04,1.852068e+02,7.289537e+00,NaN
std,3.156507e+00,2.870402e+04,1.181155e+02,4.659746e+00,NaN
min,0.000000e+00,1.001000e+03,3.000000e+01,1.000000e+00,NaN
25%,1.000000e+00,2.018500e+04,1.200000e+02,4.000000e+00,NaN
50%,2.000000e+00,4.394600e+04,1.200000e+02,6.000000e+00,NaN
75%,4.000000e+00,7.073000e+04,2.400000e+02,9.000000e+00,NaN
max,7.600000e+01,1.363220e+05,6.000000e+02,4.900000e+01,NaN

In [166]:
parking_30days.columns

Index(['OccupancyDateTime', 'PaidOccupancy', 'BlockfaceName', 'SideOfStreet',
       'SourceElementKey', 'ParkingTimeLimitCategory', 'ParkingSpaceCount',
       'PaidParkingArea', 'PaidParkingSubArea', 'PaidParkingRate',
       'ParkingCategory', 'Location'],
      dtype='object')

In [167]:
#drop unusable columns
parking_30days = parking_30days.drop(['SideOfStreet',
        'PaidParkingSubArea', 'PaidParkingRate'], axis=1)

In [168]:
# rename nan in column 'ParkingTimeLimitCategory' on "Unknown" which will be usefull for local authority
parking_30days.fillna("Unknown", inplace=True)

In [169]:
parking_30days.isnull().sum()

OccupancyDateTime           0
PaidOccupancy               0
BlockfaceName               0
SourceElementKey            0
ParkingTimeLimitCategory    0
ParkingSpaceCount           0
PaidParkingArea             0
ParkingCategory             0
Location                    0
dtype: int64

In [170]:
#split column 'OccupancyDateTime' for date and time
parking_30days['Date'] = parking_30days['OccupancyDateTime'].str.split(" ").str.get(0)
parking_30days['Time'] = parking_30days['OccupancyDateTime'].str.split(" ").str.get(1)

In [171]:
#create columns "DayWeek" and "Month" 
parking_30days['DayWeek'] = pd.to_datetime(parking_30days['Date']).dt.day_name()
parking_30days['Month'] = pd.to_datetime(parking_30days['Date']).dt.month

In [172]:
#create a new column "TimeSlot" by condition according to time slots in file about public life people staying
#create a list of conditions
conditions = [
              (parking_30days["Time"] >= "6:00") & (parking_30days["Time"] < "11:00"),
              (parking_30days["Time"] >= "11:00") & (parking_30days["Time"] < "15:00"),
              (parking_30days["Time"] >= "15:00") & (parking_30days["Time"] < "17:00"),
              (parking_30days["Time"] >= "17:00")]
              

# create a list of the values we want to assign for each condition
values = ["Morning", "Midday", "Early Evening", "Evening"]
  
#create a new column
parking_30days["TimeSlot"] = np.select(conditions, values)

In [173]:
parking_30days.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,ParkingCategory,Location,Date,Time,DayWeek,Month,TimeSlot
0,7/20/2022 18:23,1,4TH AVE BETWEEN MADISON ST AND SPRING ST,51473,120.0,6,Commercial Core,Paid Parking,POINT (-122.33336524 47.60639351),7/20/2022,18:23,Wednesday,7,Evening
1,7/20/2022 19:42,4,WESTERN AVE BETWEEN CEDAR ST AND CLAY ST,36121,240.0,6,Belltown,Paid Parking,POINT (-122.35199635 47.61536129),7/20/2022,19:42,Wednesday,7,Evening

Everything looks good

In [174]:
parking_30days.to_csv('parking_30days.csv')

### public_location data preparation

In [141]:
public_location.shape

(126, 20)

In [142]:
public_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   location_id                               126 non-null    object
 1   location_name_primary                     126 non-null    object
 2   location_name_secondary                   126 non-null    object
 3   location_detail                           124 non-null    object
 4   location_blockface_elmntkey               120 non-null    float64
 5   location_sidewalk_compkey                 121 non-null    object
 6   location_transit_stop_present             125 non-null    object
 7   location_neighborhood_type                126 non-null    object
 8   location_neighborhood                     126 non-null    object
 9   location_character                        126 non-null    object
 10  location_line_typology_vehicular          126 non-null    object
 11  location_area_typology                    126 non-null    object
 12  location_area_typology_subcategory        122 non-null    object
 13  location_total_sqft                       123 non-null    float64
 14  location_average_number_commercial_seats  110 non-null    float64
 15  location_average_number_public_seats      110 non-null    float64
 16  location_country                          126 non-null    object
 17  location_region                           126 non-null    object
 18  location_city                             126 non-null    object
 19  location_notes                            7 non-null      object
dtypes: float64(4), object(16)
memory usage: 19.8+ KB

In [143]:
public_location.isnull().sum()

location_id                                   0
location_name_primary                         0
location_name_secondary                       0
location_detail                               2
location_blockface_elmntkey                   6
location_sidewalk_compkey                     5
location_transit_stop_present                 1
location_neighborhood_type                    0
location_neighborhood                         0
location_character                            0
location_line_typology_vehicular              0
location_area_typology                        0
location_area_typology_subcategory            4
location_total_sqft                           3
location_average_number_commercial_seats     16
location_average_number_public_seats         16
location_country                              0
location_region                               0
location_city                                 0
location_notes                              119
dtype: int64

In [144]:
public_location.head(2)

,location_id,location_name_primary,location_name_secondary,location_detail,location_blockface_elmntkey,location_sidewalk_compkey,location_transit_stop_present,location_neighborhood_type,location_neighborhood,location_character,location_line_typology_vehicular,location_area_typology,location_area_typology_subcategory,location_total_sqft,location_average_number_commercial_seats,location_average_number_public_seats,location_country,location_region,location_city,location_notes
0,ALK1,ALKI AVE SW,BETWEEN MARINE AVE SW AND 59TH AVE SW,SE,76698.0,318968,Bus,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,2480.0,0.0,6.0,United States of America,Washington,Seattle,NaN
1,ALK2,ALKI AVE SW,BETWEEN 57TH AVE SW AND 58TH AVE SW,SE,8914.0,318972,None,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,1428.0,23.0,0.0,United States of America,Washington,Seattle,NaN

In [145]:
public_location.columns

Index(['location_id', 'location_name_primary', 'location_name_secondary',
       'location_detail', 'location_blockface_elmntkey',
       'location_sidewalk_compkey', 'location_transit_stop_present',
       'location_neighborhood_type', 'location_neighborhood',
       'location_character', 'location_line_typology_vehicular',
       'location_area_typology', 'location_area_typology_subcategory',
       'location_total_sqft', 'location_average_number_commercial_seats',
       'location_average_number_public_seats', 'location_country',
       'location_region', 'location_city', 'location_notes'],
      dtype='object')

In [146]:
# drop unusable columns
public_location = public_location.drop(['location_detail', 'location_sidewalk_compkey', 'location_area_typology', 'location_total_sqft', 'location_transit_stop_present', 'location_neighborhood_type', 'location_line_typology_vehicular', 'location_country',
       'location_region', 'location_city', 'location_notes'], axis=1)

In [147]:
public_location.head(2)

,location_id,location_name_primary,location_name_secondary,location_blockface_elmntkey,location_neighborhood,location_character,location_area_typology_subcategory,location_average_number_commercial_seats,location_average_number_public_seats
0,ALK1,ALKI AVE SW,BETWEEN MARINE AVE SW AND 59TH AVE SW,76698.0,Alki,Commercial,Block face,0.0,6.0
1,ALK2,ALKI AVE SW,BETWEEN 57TH AVE SW AND 58TH AVE SW,8914.0,Alki,Commercial,Block face,23.0,0.0

In [148]:
public_location.isnull().sum()

location_id                                  0
location_name_primary                        0
location_name_secondary                      0
location_blockface_elmntkey                  6
location_neighborhood                        0
location_character                           0
location_area_typology_subcategory           4
location_average_number_commercial_seats    16
location_average_number_public_seats        16
dtype: int64

In [150]:
# drop rows with Nan in 'location_blockface_elmntkey', because it is a primarykey in join with other column
public_location= public_location.dropna(subset=['location_blockface_elmntkey'])

In [152]:
# drop rows with Nan in 'location_average_number_commercial_seats' and 'location_average_number_public_seats' because we cannot to calculate the ocupancy of seat or change it on 0
#(clarify it during calculation). Now fill it with 0
public_location = public_location.fillna(0)

In [155]:
public_location.isnull().sum()

location_id                                 0
location_name_primary                       0
location_name_secondary                     0
location_blockface_elmntkey                 0
location_neighborhood                       0
location_character                          0
location_area_typology_subcategory          0
location_average_number_commercial_seats    0
location_average_number_public_seats        0
dtype: int64

In [156]:
public_location.shape

(120, 9)

Now everything looks good

### public_staying preparation

In [60]:
public_staying.shape

(11202, 50)

In [61]:
public_staying.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11202 entries, 0 to 11201
Data columns (total 50 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   unique_staying_id                            11202 non-null  int64
 1   study_id                                     11202 non-null  object
 2   location_id                                  11202 non-null  object
 3   staying_time_start                           11202 non-null  object
 4   staying_time_end                             11202 non-null  object
 5   staying_day_of_week                          11202 non-null  object
 6   staying_time_of_day                          11202 non-null  object
 7   staying_count_surveyor                       11202 non-null  object
 8   staying_conditions                           953 non-null    object
 9   staying_microclimate                         6662 non-null   object
 10  staying_temperature                          6662 non-null   float64
 11  staying_row_total                            11202 non-null  int64
 12  staying_group_size                           11032 non-null  object
 13  staying_race_ethnicity                       10561 non-null  object
 14  staying_gender                               11048 non-null  object
 15  staying_age                                  10841 non-null  object
 16  standing                                     6375 non-null   float64
 17  leaning                                      602 non-null    float64
 18  sitting_formal_all                           3031 non-null   float64
 19  sitting_formal_public                        1017 non-null   float64
 20  sitting_formal_public_fixed_bench            346 non-null    float64
 21  sitting_formal_public_fixed_wall_with_seats  372 non-null    float64
 22  sitting_formal_public_movable_seat           114 non-null    float64
 23  sitting_formal_commercial                    970 non-null    float64
 24  sitting_formal_private                       213 non-null    float64
 25  sitting_informal                             699 non-null    float64
 26  lying                                        270 non-null    float64
 27  staying_mobility_assist                      220 non-null    float64
 28  commercial_all                               1842 non-null   float64
 29  commercial_selling                           175 non-null    float64
 30  commercial_selling_informal                  50 non-null     float64
 31  commercial_buying                            845 non-null    float64
 32  commercial_observing                         516 non-null    float64
 33  eating_drinking                              1886 non-null   float64
 34  talking_to_others                            5034 non-null   float64
 35  smoking                                      950 non-null    float64
 36  cultural                                     72 non-null     float64
 37  recreation_active                            197 non-null    float64
 38  recreation_passive                           1373 non-null   float64
 39  waiting_transportation                       2468 non-null   float64
 40  working_civic                                215 non-null    float64
 41  disruptive                                   23 non-null     float64
 42  disruptive_aggressive                        15 non-null     float64
 43  disruptive_intoxicated                       19 non-null     float64
 44  living_public                                324 non-null    float64
 45  using_electronics                            2624 non-null   float64
 46  soliciting                                   119 non-null    float64
 47  staying_covid_mask                           486 non-null    object
 48  staying_covid_social_distance                486 non-null    object
 49  staying_notes                                453 non-null    object
dtypes: float64(32), int64(2), object(16)
memory usage: 4.3+ MB

In [62]:
#select columns for our analysis
public_staying = public_staying[['location_id', 'staying_day_of_week', 'staying_time_of_day', 'staying_group_size', 'staying_gender', 'staying_age']]

In [64]:
public_staying.shape

(11202, 6)

In [63]:
public_staying.isnull().sum()

location_id              0
staying_day_of_week      0
staying_time_of_day      0
staying_group_size     170
staying_gender         154
staying_age            361
dtype: int64

In [65]:
#we will use a group size to calculate the occupancy of public places, so drop the rows with Nan value
public_staying = public_staying.dropna()

In [67]:
public_staying.isnull().sum()

location_id            0
staying_day_of_week    0
staying_time_of_day    0
staying_group_size     0
staying_gender         0
staying_age            0
dtype: int64

*Now all data are complete and there is no missing values*

In [47]:
public_staying.shape

(10931, 50)

In [81]:
public_staying['staying_gender'].unique()

array(['Female', 'Other_Unsure', 'Male'], dtype=object)

In [95]:
#rename 'Other_Unsure' on 'Unknown'
public_staying.replace(to_replace = "Other_Unsure", value = "Unknown", inplace = True)

In [97]:
public_staying["staying_age"].unique()

array(['45-64', '0-4', '25-44', '65+', '15-24', '14-May', '25-64',
       'Toddler - Walking unconfidently', 'Baby - Lying / Crawling',
       'Up to 5 - Walking confidently'], dtype=object)

In [98]:
# we see some problems with column "staying_age", so normalise it. 
# 1. Rename rows 'Toddler - Walking unconfidently', 'Baby - Lying / Crawling', 'Up to 5 - Walking confidently' to '0-4'
public_staying.replace(to_replace=('Toddler - Walking unconfidently', 'Baby - Lying / Crawling', 'Up to 5 - Walking confidently'), value='0-4', inplace=True)

In [99]:
# 2. We need to do something with '14-May'. If to see on metadata for this dataset on https://data.seattle.gov/Transportation/Public-Life-Data-People-Staying/5mzj-4rtf we have age '5-14', so make a change
public_staying.replace(to_replace = '14-May', value='5-14', inplace=True)

In [100]:
public_staying.head(10)

,location_id,staying_day_of_week,staying_time_of_day,staying_group_size,staying_gender,staying_age
2,MAP1,Weekday,Morning,3,Female,45-64
3,MAP1,Weekday,Morning,3,Female,45-64
4,MAP1,Weekday,Morning,3,Unknown,0-4
5,MAP1,Weekday,Morning,1,Male,25-44
6,MAP1,Weekday,Morning,2,Male,25-44
7,MAP1,Weekday,Morning,2,Unknown,0-4
8,MAP1,Weekday,Midday,1,Male,45-64
9,MAP1,Weekday,Midday,1,Female,65+
10,MAP1,Weekday,Midday,2,Male,45-64
11,MAP1,Weekday,Midday,2,Male,25-44

In [48]:
parking_48.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   OccupancyDateTime         1048575 non-null  object
 1   PaidOccupancy             1048575 non-null  int64
 2   BlockfaceName             1048575 non-null  object
 3   SourceElementKey          1048575 non-null  int64
 4   ParkingTimeLimitCategory  1047296 non-null  float64
 5   ParkingSpaceCount         1048575 non-null  int64
 6   PaidParkingArea           1048575 non-null  object
 7   ParkingCategory           1048575 non-null  object
 8   Location                  1048575 non-null  object
 9   Date                      1048575 non-null  object
 10  Time                      1048575 non-null  object
 11  DayWeek                   1048575 non-null  object
 12  Month                     1048575 non-null  int64
 13  TimeSlot                  1048575 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 112.0+ MB

In [49]:
parking_30days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   OccupancyDateTime         1048575 non-null  object
 1   PaidOccupancy             1048575 non-null  int64
 2   BlockfaceName             1048575 non-null  object
 3   SourceElementKey          1048575 non-null  int64
 4   ParkingTimeLimitCategory  1047363 non-null  float64
 5   ParkingSpaceCount         1048575 non-null  int64
 6   PaidParkingArea           1048575 non-null  object
 7   ParkingCategory           1048575 non-null  object
 8   Location                  1048575 non-null  object
 9   Date                      1048575 non-null  object
 10  Time                      1048575 non-null  object
 11  DayWeek                   1048575 non-null  object
 12  Month                     1048575 non-null  int64
 13  TimeSlot                  1048575 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 112.0+ MB

### park_address data preparation

In [157]:
park_address.shape

(412, 8)

In [158]:
park_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PMAID       412 non-null    int64
 1   LocID       412 non-null    int64
 2   Name        412 non-null    object
 3   Address     412 non-null    object
 4   ZIP Code    412 non-null    int64
 5   X Coord     412 non-null    float64
 6   Y Coord     412 non-null    float64
 7   Location 1  412 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 25.9+ KB

In [159]:
park_address.isnull().sum()

PMAID         0
LocID         0
Name          0
Address       0
ZIP Code      0
X Coord       0
Y Coord       0
Location 1    0
dtype: int64

Everything looks good