The project idea is to find parking areas near public life places or parks for choosing the place for the rest with suitable conditions.
Bussines description: 
1. Visualize parking areas near public places and parks.
2. Compare the occupancy in parking areas and seats in public places by area and time.
3. Compare the parking time limit for paid parking area in public places. 
4. Visualize the number of paid parking areas by time limit near public places and parks.
5. Find which days of the week, months (if I will have resources) are the busiest.
6. Describe in which time (morning, midday or afternoon) there are more men, women or children by age.

In [1]:
import pandas as pd
from datetime import datetime as dt
import numpy as np

#### Read data about parking

In [2]:

parking_48 = pd.read_csv(r"data\Paid_Parking__Last_48_Hours_.csv")
parking_48.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SideOfStreet,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,PaidParkingSubArea,PaidParkingRate,ParkingCategory,Location
0,08/27/2022 01:49:00 PM,6,UNIVERSITY WAY NE BETWEEN NE 41ST ST AND NE 42...,E,58514,120.0,7,University District,Core,NaN,Paid Parking,POINT (-122.31314236 47.65753657)
1,08/27/2022 02:42:00 PM,3,BELL ST BETWEEN ELLIOTT AVE AND WESTERN AVE,SE,32018,120.0,6,Belltown,South,NaN,Paid Parking,POINT (-122.34769758 47.6123506)

In [3]:
parking_30days = pd.read_csv(r"data\Paid_Parking_Occupancy__Last_30_Days_.csv")
parking_30days.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SideOfStreet,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,PaidParkingSubArea,PaidParkingRate,ParkingCategory,Location
0,07/20/2022 06:23:00 PM,1.0,4TH AVE BETWEEN MADISON ST AND SPRING ST,SW,51473.0,120.0,6.0,Commercial Core,Financial,NaN,Paid Parking,POINT (-122.33336524 47.60639351)
1,07/20/2022 07:42:00 PM,4.0,WESTERN AVE BETWEEN CEDAR ST AND CLAY ST,SW,36121.0,240.0,6.0,Belltown,North,NaN,Paid Parking,POINT (-122.35199635 47.61536129)

#### Read data about public life

In [4]:
public_location = pd.read_csv(r"data\Public_Life_Data_-_Locations.csv")
public_location.head(2)

,location_id,location_name_primary,location_name_secondary,location_detail,location_blockface_elmntkey,location_sidewalk_compkey,location_transit_stop_present,location_neighborhood_type,location_neighborhood,location_character,location_line_typology_vehicular,location_area_typology,location_area_typology_subcategory,location_total_sqft,location_average_number_commercial_seats,location_average_number_public_seats,location_country,location_region,location_city,location_notes
0,ALK1,ALKI AVE SW,BETWEEN MARINE AVE SW AND 59TH AVE SW,SE,76698.0,318968,Bus,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,2480.0,0.0,6.0,United States of America,Washington,Seattle,NaN
1,ALK2,ALKI AVE SW,BETWEEN 57TH AVE SW AND 58TH AVE SW,SE,8914.0,318972,None,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,1428.0,23.0,0.0,United States of America,Washington,Seattle,NaN

In [5]:
public_staying = pd.read_csv(r"data\Public_Life_Data_-_People_Staying.csv")
public_staying.head(2)

,unique_staying_id,study_id,location_id,staying_time_start,staying_time_end,staying_day_of_week,staying_time_of_day,staying_count_surveyor,staying_conditions,staying_microclimate,...,working_civic,disruptive,disruptive_aggressive,disruptive_intoxicated,living_public,using_electronics,soliciting,staying_covid_mask,staying_covid_social_distance,staying_notes
0,632,2018_Seattle_Citywide,RAV4,09/14/2018 05:09:00 PM,09/14/2018 05:29:00 PM,Weekday,Evening,UD4H,NaN,Heavy Clouds,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,920,2018_Seattle_Citywide,RAI2,08/11/2018 05:23:00 PM,08/11/2018 05:43:00 PM,Weekend,Evening,UD4H,NaN,Light Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read data about parks

In [6]:
park_address = pd.read_csv(r"data\Seattle_Parks_And_Recreation_Park_Addresses.csv")
park_address.head(2)

,PMAID,LocID,Name,Address,ZIP Code,X Coord,Y Coord,Location 1
0,281,2545,12th and Howe Play Park,1200 W Howe St,98119,-122.372985,47.636097,"(47.636097, -122.372985)"
1,4159,2387,12th Ave S Viewpoint,2821 12TH Ave S,98144,-122.317765,47.577953,"(47.577953, -122.317765)"

In [7]:
park_features = pd.read_csv(r"data\Seattle_Parks_and_Recreation_Parks_Features.csv")
park_features.head(2)

,PMAID,Name,Alt_Name,xPos,yPos,Feature_ID,hours,Feature_Desc,CHILD_DESC,FIELD_TYPE,YOUTH_ONLY,LIGHTING,Location 1
0,281,12th and Howe Play Park,NaN,-122.372985,47.636097,22,6 a.m. - 10 p.m.,Play Area,Play Area,NaN,False,False,"1200 W Howe St\n(-122.372985, 47.636097)"
1,4159,12th Ave S Viewpoint,NaN,-122.317765,47.577953,34,6 a.m. - 10 p.m.,View,NaN,NaN,False,False,"2821 12TH Ave S\n(-122.317765, 47.577953)"

### Parking_48 data preparation

In [8]:
parking_48.shape

(6502273, 12)

In [9]:
parking_48.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6502273 entries, 0 to 6502272
Data columns (total 12 columns):
 #   Column                    Dtype
---  ------                    -----
 0   OccupancyDateTime         object
 1   PaidOccupancy             int64
 2   BlockfaceName             object
 3   SideOfStreet              object
 4   SourceElementKey          int64
 5   ParkingTimeLimitCategory  float64
 6   ParkingSpaceCount         int64
 7   PaidParkingArea           object
 8   PaidParkingSubArea        object
 9   PaidParkingRate           float64
 10  ParkingCategory           object
 11  Location                  object
dtypes: float64(2), int64(3), object(7)
memory usage: 595.3+ MB

In [10]:
parking_48.describe()

,PaidOccupancy,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingRate
count,6.502273e+06,6.502273e+06,6.489311e+06,6.502273e+06,0.0
mean,2.931026e+00,4.590525e+04,1.980114e+02,7.275680e+00,NaN
std,3.254317e+00,2.875972e+04,2.621425e+02,4.806224e+00,NaN
min,0.000000e+00,1.001000e+03,3.000000e+01,1.000000e+00,NaN
25%,1.000000e+00,2.018500e+04,1.200000e+02,4.000000e+00,NaN
50%,2.000000e+00,4.582600e+04,1.200000e+02,6.000000e+00,NaN
75%,4.000000e+00,7.074100e+04,2.400000e+02,9.000000e+00,NaN
max,8.000000e+01,1.363220e+05,4.320000e+03,5.400000e+01,NaN

In [11]:
 #a summary of all missing values for each column
parking_48.isnull().sum()

OccupancyDateTime                 0
PaidOccupancy                     0
BlockfaceName                     0
SideOfStreet                      0
SourceElementKey                  0
ParkingTimeLimitCategory      12962
ParkingSpaceCount                 0
PaidParkingArea                   0
PaidParkingSubArea          1819501
PaidParkingRate             6502273
ParkingCategory                   0
Location                          0
dtype: int64

In [12]:
parking_48.columns

Index(['OccupancyDateTime', 'PaidOccupancy', 'BlockfaceName', 'SideOfStreet',
       'SourceElementKey', 'ParkingTimeLimitCategory', 'ParkingSpaceCount',
       'PaidParkingArea', 'PaidParkingSubArea', 'PaidParkingRate',
       'ParkingCategory', 'Location'],
      dtype='object')

In [13]:
# delete unusable columns
parking_48 = parking_48.drop(["SideOfStreet", "PaidParkingSubArea", "PaidParkingRate"], axis=1)
parking_48.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,ParkingCategory,Location
0,08/27/2022 01:49:00 PM,6,UNIVERSITY WAY NE BETWEEN NE 41ST ST AND NE 42...,58514,120.0,7,University District,Paid Parking,POINT (-122.31314236 47.65753657)
1,08/27/2022 02:42:00 PM,3,BELL ST BETWEEN ELLIOTT AVE AND WESTERN AVE,32018,120.0,6,Belltown,Paid Parking,POINT (-122.34769758 47.6123506)

In [14]:
parking_48.isnull().sum()

OccupancyDateTime               0
PaidOccupancy                   0
BlockfaceName                   0
SourceElementKey                0
ParkingTimeLimitCategory    12962
ParkingSpaceCount               0
PaidParkingArea                 0
ParkingCategory                 0
Location                        0
dtype: int64

In [15]:
 parking_48["ParkingTimeLimitCategory"].unique()

array([ 120.,  240.,  600.,   30.,   nan, 4320.])

In [16]:
# change nan on "Unknown" (column "ParkingTimeLimitCategory"), this information will be useful for local authority
parking_48.fillna("Unknown", inplace=True)

In [17]:
# make appropriate columns from column "OccupancyDateTime" date and time
parking_48["Date"] = pd.to_datetime(parking_48["OccupancyDateTime"]).dt.date
parking_48["Time"] =pd.to_datetime(parking_48["OccupancyDateTime"]).dt.time

In [18]:
# create clumn day of week and month
parking_48["DayWeek"] = pd.to_datetime(parking_48["OccupancyDateTime"]).dt.day_name() #weekday_name isn't used
parking_48["Month"] = pd.to_datetime(parking_48["OccupancyDateTime"]).dt.month

In [19]:
parking_48.head(2)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,ParkingCategory,Location,Date,Time,DayWeek,Month
0,08/27/2022 01:49:00 PM,6,UNIVERSITY WAY NE BETWEEN NE 41ST ST AND NE 42...,58514,120.0,7,University District,Paid Parking,POINT (-122.31314236 47.65753657),2022-08-27,13:49:00,Saturday,8
1,08/27/2022 02:42:00 PM,3,BELL ST BETWEEN ELLIOTT AVE AND WESTERN AVE,32018,120.0,6,Belltown,Paid Parking,POINT (-122.34769758 47.6123506),2022-08-27,14:42:00,Saturday,8

now everything should be fine

In [20]:
parking_48.to_csv("parking_48.csv")

### parking_30days data preparation

In [21]:
parking_30days.shape

(1836416, 12)

In [22]:
parking_30days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836416 entries, 0 to 1836415
Data columns (total 12 columns):
 #   Column                    Dtype
---  ------                    -----
 0   OccupancyDateTime         object
 1   PaidOccupancy             float64
 2   BlockfaceName             object
 3   SideOfStreet              object
 4   SourceElementKey          float64
 5   ParkingTimeLimitCategory  float64
 6   ParkingSpaceCount         float64
 7   PaidParkingArea           object
 8   PaidParkingSubArea        object
 9   PaidParkingRate           float64
 10  ParkingCategory           object
 11  Location                  object
dtypes: float64(5), object(7)
memory usage: 168.1+ MB

In [23]:
parking_30days.isnull().sum()

OccupancyDateTime                 0
PaidOccupancy                     4
BlockfaceName                     4
SideOfStreet                      4
SourceElementKey                  4
ParkingTimeLimitCategory       2120
ParkingSpaceCount                 4
PaidParkingArea                   4
PaidParkingSubArea           518723
PaidParkingRate             1836416
ParkingCategory                   4
Location                          4
dtype: int64

In [24]:
parking_30days.describe()

,PaidOccupancy,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingRate
count,1.836412e+06,1.836412e+06,1.834296e+06,1.836412e+06,0.0
mean,2.984700e+00,4.589895e+04,1.942781e+02,7.307481e+00,NaN
std,3.241306e+00,2.879162e+04,2.299566e+02,4.811278e+00,NaN
min,0.000000e+00,1.001000e+03,3.000000e+01,1.000000e+00,NaN
25%,1.000000e+00,2.018500e+04,1.200000e+02,4.000000e+00,NaN
50%,2.000000e+00,4.394600e+04,1.200000e+02,6.000000e+00,NaN
75%,4.000000e+00,7.073800e+04,2.400000e+02,9.000000e+00,NaN
max,7.600000e+01,1.363220e+05,4.320000e+03,5.400000e+01,NaN

In [25]:
parking_30days.columns

Index(['OccupancyDateTime', 'PaidOccupancy', 'BlockfaceName', 'SideOfStreet',
       'SourceElementKey', 'ParkingTimeLimitCategory', 'ParkingSpaceCount',
       'PaidParkingArea', 'PaidParkingSubArea', 'PaidParkingRate',
       'ParkingCategory', 'Location'],
      dtype='object')

In [26]:
#drop unusable columns
parking_30days = parking_30days.drop(['SideOfStreet',
        'PaidParkingSubArea', 'PaidParkingRate'], axis=1)

In [27]:
# rename nan in column 'ParkingTimeLimitCategory' on "Unknown" which will be usefull for local authority
parking_30days.fillna("Unknown", inplace=True)

In [28]:
parking_30days.isnull().sum()

OccupancyDateTime           0
PaidOccupancy               0
BlockfaceName               0
SourceElementKey            0
ParkingTimeLimitCategory    0
ParkingSpaceCount           0
PaidParkingArea             0
ParkingCategory             0
Location                    0
dtype: int64

In [29]:
#get column with date and time, convert them to datetime format
parking_30days['Date'] = pd.to_datetime(parking_30days['OccupancyDateTime'], errors = 'coerce').dt.date
parking_30days['Time'] = pd.to_datetime(parking_30days['OccupancyDateTime'], errors = 'coerce').dt.time

In [30]:
#create columns "DayWeek" and "Month", write  errors='coerce' if we get error about unknown string format on pd.to_datetime
parking_30days['DayWeek'] = pd.to_datetime(parking_30days['Date'], errors = 'coerce').dt.day_name()
parking_30days['Month'] = pd.to_datetime(parking_30days['Date'], errors='coerce').dt.month

In [31]:
parking_30days.head(35)

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,ParkingCategory,Location,Date,Time,DayWeek,Month
0,07/20/2022 06:23:00 PM,1.0,4TH AVE BETWEEN MADISON ST AND SPRING ST,51473.0,120.0,6.0,Commercial Core,Paid Parking,POINT (-122.33336524 47.60639351),2022-07-20,18:23:00,Wednesday,7.0
1,07/20/2022 07:42:00 PM,4.0,WESTERN AVE BETWEEN CEDAR ST AND CLAY ST,36121.0,240.0,6.0,Belltown,Paid Parking,POINT (-122.35199635 47.61536129),2022-07-20,19:42:00,Wednesday,7.0
2,07/20/2022 06:34:00 PM,4.0,3RD AVE BETWEEN BATTERY ST AND WALL ST,49658.0,240.0,7.0,Belltown,Paid Parking,POINT (-122.34649132 47.61581407),2022-07-20,18:34:00,Wednesday,7.0
3,07/20/2022 05:37:00 PM,8.0,ELLIOTT AVE BETWEEN CLAY ST AND BROAD ST,10221.0,240.0,9.0,Belltown,Paid Parking,POINT (-122.3538062 47.61525792),2022-07-20,17:37:00,Wednesday,7.0
4,07/20/2022 10:28:00 AM,10.0,2ND AVE N BETWEEN DENNY WAY AND JOHN ST,70762.0,240.0,11.0,Uptown,Paid Parking,POINT (-122.3526927 47.61920357),2022-07-20,10:28:00,Wednesday,7.0
5,07/20/2022 12:26:00 PM,1.0,UNION ST BETWEEN 6TH AVE AND 7TH AVE,81194.0,120.0,6.0,Commercial Core,Paid Parking,POINT (-122.33297464 47.61031904),2022-07-20,12:26:00,Wednesday,7.0
6,07/20/2022 07:26:00 PM,1.0,W REPUBLICAN ST BETWEEN 1ST AVE W AND 2ND AVE W,46082.0,240.0,9.0,Uptown,Paid Parking,POINT (-122.35868143 47.62324243),2022-07-20,19:26:00,Wednesday,7.0
7,07/20/2022 11:32:00 AM,3.0,4TH AVE BETWEEN VINE ST AND CEDAR ST,6198.0,240.0,8.0,Belltown,Paid Parking,POINT (-122.34746383 47.61757189),2022-07-20,11:32:00,Wednesday,7.0
8,07/20/2022 03:12:00 PM,7.0,MINOR AVE N BETWEEN THOMAS ST AND HARRISON ST,34505.0,600.0,13.0,South Lake Union,Paid Parking,POINT (-122.33309119 47.62139739),2022-07-20,15:12:00,Wednesday,7.0
9,07/20/2022 11:33:00 AM,2.0,UNION ST BETWEEN 4TH AVE AND 5TH AVE,35798.0,120.0,5.0,Commercial Core,Paid Parking,POINT (-122.33515851 47.60939858),2022-07-20,11:33:00,Wednesday,7.0
10,07/20/2022 12:28:00 PM,6.0,NW 56TH ST BETWEEN 22ND AVE NW AND 24TH AVE NW,86449.0,240.0,12.0,Ballard,Paid Parking,POINT (-122.38614452 47.66951625),2022-07-20,12:28:00,Wednesday,7.0
11,07/20/2022 12:31:00 PM,1.0,MERCER ST BETWEEN 1ST AVE N AND WARREN AVE N,11766.0,240.0,4.0,Uptown,Paid Parking,POINT (-122.3547637 47.62449467),2022-07-20,12:31:00,Wednesday,7.0
12,07/20/2022 11:22:00 AM,1.0,REPUBLICAN ST BETWEEN 8TH AVE N AND 9TH AVE N,80545.0,120.0,5.0,South Lake Union,Paid Parking,POINT (-122.34042507 47.62328513),2022-07-20,11:22:00,Wednesday,7.0
13,07/20/2022 04:34:00 PM,3.0,2ND AVE N BETWEEN MERCER ST AND ROY ST,2798.0,240.0,3.0,Uptown,Paid Parking,POINT (-122.35266686 47.62501129),2022-07-20,16:34:00,Wednesday,7.0
14,07/20/2022 09:26:00 AM,2.0,N 35TH ST BETWEEN FREMONT AVE N AND TROLL AVE N,83222.0,120.0,4.0,Fremont,Paid Parking,POINT (-122.34859641 47.65027486),2022-07-20,09:26:00,Wednesday,7.0
15,07/20/2022 02:41:00 PM,5.0,10TH AVE BETWEEN E PIKE ST AND E PINE ST,1233.0,120.0,9.0,Pike-Pine,Paid Parking,POINT (-122.31955777 47.61468219),2022-07-20,14:41:00,Wednesday,7.0
16,07/20/2022 12:19:00 PM,6.0,TALLMAN AVE NW BETWEEN NW IONE PL AND NW CENTR...,13045.0,240.0,9.0,Ballard,Paid Parking,POINT (-122.37969237 47.66686786),2022-07-20,12:19:00,Wednesday,7.0
17,07/20/2022 05:51:00 PM,3.0,HARRISON ST BETWEEN DEXTER AVE N AND 8TH AVE N,10869.0,600.0,5.0,South Lake Union,Paid Parking,POINT (-122.34169609 47.62213569),2022-07-20,17:51:00,Wednesday,7.0
18,07/20/2022 12:27:00 PM,11.0,VINE ST BETWEEN 3RD AVE AND 4TH AVE,81290.0,240.0,11.0,Belltown,Paid Parking,POINT (-122.34744013 47.616859),2022-07-20,12:27:00,Wednesday,7.0
19,07/20/2022 11:08:00 AM,4.0,3RD AVE BETWEEN BELL ST AND BATTERY ST,27277.0,240.0,8.0,Belltown,Paid Parking,POINT (-122.34549499 47.61500973),2022-07-20,11:08:00,Wednesday,7.0
20,07/20/2022 01:14:00 PM,1.0,BOYLSTON AVE BETWEEN E UNION ST AND E PIKE ST,32173.0,120.0,9.0,Pike-Pine,Restricted Parking Zone,POINT (-122.32346094 47.61352495),2022-07-20,13:14:00,Wednesday,7.0
21,07/20/2022 09:03:00 AM,1.0,1ST AVE BETWEEN CHERRY ST AND COLUMBIA ST,1002.0,120.0,8.0,Pioneer Square,Paid Parking,POINT (-122.33451266 47.60294861),2022-07-20,09:03:00,Wednesday,7.0
22,07/20/2022 07:37:00 PM,4.0,S KING ST BETWEEN 7TH AVE S AND CANTON AL S,20846.0,120.0,3.0,Chinatown/ID,Paid Parking,POINT (-122.32338342 47.5982855),2022-07-20,19:37:00,Wednesday,7.0
23,07/20/2022 04:29:00 PM,3.0,BROOKLYN AVE NE BETWEEN NE 43RD ST AND NE 45TH ST,77393.0,120.0,8.0,University District,Paid Parking,POINT (-122.31439334 47.6605153),2022-07-20,16:29:00,Wednesday,7.0
24,07/20/2022 04:19:00 PM,6.0,UNIVERSITY ST BETWEEN 1ST AVE AND 2ND AVE,58493.0,120.0,6.0,Commercial Core,Paid Parking,POINT (-122.33768158 47.60710524),2022-07-20,16:19:00,Wednesday,7.0
25,07/20/2022 10:22:00 AM,4.0,UNION ST BETWEEN 2ND AVE AND 3RD AVE,35794.0,120.0,4.0,Commercial Core,Paid Parking,POINT (-122.33737977 47.60848168),2022-07-20,10:22:00,Wednesday,7.0
26,07/20/2022 09:26:00 AM,1.0,2ND AVE BETWEEN STEWART ST AND VIRGINIA ST,25706.0,120.0,7.0,Belltown,Paid Parking,POINT (-122.34102039 47.61140567),2022-07-20,09:26:00,Wednesday,7.0
27,07/20/2022 08:58:00 PM,5.0,E PIKE ST BETWEEN 12TH AVE AND 13TH AVE,59966.0,120.0,10.0,Pike-Pine,Paid Parking,POINT (-122.31615961 47.61403722),2022-07-20,20:58:00,Wednesday,7.0
28,07/20/2022 06:37:00 PM,1.0,S LANE ST BETWEEN 6TH AVE S AND MAYNARD AVE S,43118.0,120.0,6.0,Chinatown/ID,Paid Parking,POINT (-122.32571811 47.59660677),2022-07-20,18:37:00,Wednesday,7.0
29,07/20/2022 02:40:00 PM,1.0,UNIVERSITY ST BETWEEN SUMMIT AVE AND BOYLSTON ...,13197.0,120.0,6.0,First Hill,Restricted Parking Zone,POINT (-122.32435978 47.6126884),2022-07-20,14:40:00,Wednesday,7.0
30,07/20/2022 07:11:00 PM,2.0,MARION ST BETWEEN TERRY AVE AND BOREN AVE,34305.0,120.0,5.0,First Hill,Paid Parking,POINT (-122.32507698 47.60843237),2022-07-20,19:11:00,Wednesday,7.0
31,07/20/2022 06:50:00 PM,4.0,7TH AVE BETWEEN WESTLAKE AVE AND LENORA ST,53429.0,120.0,4.0,Denny Triangle,Paid Parking,POINT (-122.33836153 47.61548441),2022-07-20,18:50:00,Wednesday,7.0
32,07/20/2022 04:09:00 PM,2.0,S WASHINGTON ST BETWEEN ALASKAN E RDWY WAY S A...,21765.0,120.0,3.0,Pioneer Square,Paid Parking,POINT (-122.33489185 47.60093944),2022-07-20,16:09:00,Wednesday,7.0
33,07/20/2022 01:33:00 PM,5.0,8TH AVE N BETWEEN REPUBLICAN ST AND MERCER SR ST,8401.0,600.0,11.0,South Lake Union,Paid Parking,POINT (-122.34116298 47.6239067),2022-07-20,13:33:00,Wednesday,7.0
34,07/20/2022 12:11:00 PM,2.0,COLUMBIA ST BETWEEN TERRY AVE AND BOREN AVE,55030.0,120.0,3.0,First Hill,Paid Parking,POINT (-122.32435775 47.60764057),2022-07-20,12:11:00,Wednesday,7.0

Everything looks good

In [32]:
parking_30days.to_csv('parking_30days.csv')

### public_location data preparation

In [33]:
public_location.shape

(126, 20)

In [34]:
public_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   location_id                               126 non-null    object
 1   location_name_primary                     126 non-null    object
 2   location_name_secondary                   126 non-null    object
 3   location_detail                           124 non-null    object
 4   location_blockface_elmntkey               120 non-null    float64
 5   location_sidewalk_compkey                 121 non-null    object
 6   location_transit_stop_present             125 non-null    object
 7   location_neighborhood_type                126 non-null    object
 8   location_neighborhood                     126 non-null    object
 9   location_character                        126 non-null    object
 10  location_line_typology_vehicular          126 non-null    object
 11  location_area_typology                    126 non-null    object
 12  location_area_typology_subcategory        122 non-null    object
 13  location_total_sqft                       123 non-null    float64
 14  location_average_number_commercial_seats  110 non-null    float64
 15  location_average_number_public_seats      110 non-null    float64
 16  location_country                          126 non-null    object
 17  location_region                           126 non-null    object
 18  location_city                             126 non-null    object
 19  location_notes                            7 non-null      object
dtypes: float64(4), object(16)
memory usage: 19.8+ KB

In [35]:
public_location.isnull().sum()

location_id                                   0
location_name_primary                         0
location_name_secondary                       0
location_detail                               2
location_blockface_elmntkey                   6
location_sidewalk_compkey                     5
location_transit_stop_present                 1
location_neighborhood_type                    0
location_neighborhood                         0
location_character                            0
location_line_typology_vehicular              0
location_area_typology                        0
location_area_typology_subcategory            4
location_total_sqft                           3
location_average_number_commercial_seats     16
location_average_number_public_seats         16
location_country                              0
location_region                               0
location_city                                 0
location_notes                              119
dtype: int64

In [36]:
public_location.head(2)

,location_id,location_name_primary,location_name_secondary,location_detail,location_blockface_elmntkey,location_sidewalk_compkey,location_transit_stop_present,location_neighborhood_type,location_neighborhood,location_character,location_line_typology_vehicular,location_area_typology,location_area_typology_subcategory,location_total_sqft,location_average_number_commercial_seats,location_average_number_public_seats,location_country,location_region,location_city,location_notes
0,ALK1,ALKI AVE SW,BETWEEN MARINE AVE SW AND 59TH AVE SW,SE,76698.0,318968,Bus,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,2480.0,0.0,6.0,United States of America,Washington,Seattle,NaN
1,ALK2,ALKI AVE SW,BETWEEN 57TH AVE SW AND 58TH AVE SW,SE,8914.0,318972,None,Outside,Alki,Commercial,Neighborhood Corridor,Street,Block face,1428.0,23.0,0.0,United States of America,Washington,Seattle,NaN

In [37]:
public_location.columns

Index(['location_id', 'location_name_primary', 'location_name_secondary',
       'location_detail', 'location_blockface_elmntkey',
       'location_sidewalk_compkey', 'location_transit_stop_present',
       'location_neighborhood_type', 'location_neighborhood',
       'location_character', 'location_line_typology_vehicular',
       'location_area_typology', 'location_area_typology_subcategory',
       'location_total_sqft', 'location_average_number_commercial_seats',
       'location_average_number_public_seats', 'location_country',
       'location_region', 'location_city', 'location_notes'],
      dtype='object')

In [38]:
# drop unusable columns
public_location = public_location.drop(['location_detail', 'location_sidewalk_compkey', 'location_area_typology', 'location_total_sqft', 'location_transit_stop_present', 'location_neighborhood_type', 'location_line_typology_vehicular', 'location_country',
       'location_region', 'location_city', 'location_notes'], axis=1)

In [39]:
public_location.head(2)

,location_id,location_name_primary,location_name_secondary,location_blockface_elmntkey,location_neighborhood,location_character,location_area_typology_subcategory,location_average_number_commercial_seats,location_average_number_public_seats
0,ALK1,ALKI AVE SW,BETWEEN MARINE AVE SW AND 59TH AVE SW,76698.0,Alki,Commercial,Block face,0.0,6.0
1,ALK2,ALKI AVE SW,BETWEEN 57TH AVE SW AND 58TH AVE SW,8914.0,Alki,Commercial,Block face,23.0,0.0

In [40]:
public_location.isnull().sum()

location_id                                  0
location_name_primary                        0
location_name_secondary                      0
location_blockface_elmntkey                  6
location_neighborhood                        0
location_character                           0
location_area_typology_subcategory           4
location_average_number_commercial_seats    16
location_average_number_public_seats        16
dtype: int64

In [41]:
# drop rows with Nan in 'location_blockface_elmntkey', because it is a primarykey in join with other column
public_location= public_location.dropna(subset=['location_blockface_elmntkey'])

In [42]:
# drop rows with Nan in 'location_average_number_commercial_seats' and 'location_average_number_public_seats' because we cannot to calculate the ocupancy of seat or change it on 0
#(clarify it during calculation). Now fill it with 0
public_location = public_location.fillna(0)

In [43]:
public_location.isnull().sum()

location_id                                 0
location_name_primary                       0
location_name_secondary                     0
location_blockface_elmntkey                 0
location_neighborhood                       0
location_character                          0
location_area_typology_subcategory          0
location_average_number_commercial_seats    0
location_average_number_public_seats        0
dtype: int64

In [44]:
public_location.shape

(120, 9)

In [45]:
public_location.to_csv('public_location.csv')

Now everything looks good

### public_staying preparation

In [46]:
public_staying.shape

(11202, 50)

In [47]:
public_staying.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11202 entries, 0 to 11201
Data columns (total 50 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   unique_staying_id                            11202 non-null  int64
 1   study_id                                     11202 non-null  object
 2   location_id                                  11202 non-null  object
 3   staying_time_start                           11202 non-null  object
 4   staying_time_end                             11202 non-null  object
 5   staying_day_of_week                          11202 non-null  object
 6   staying_time_of_day                          11202 non-null  object
 7   staying_count_surveyor                       11202 non-null  object
 8   staying_conditions                           953 non-null    object
 9   staying_microclimate                         6662 non-null   object
 10  staying_temperature                          6662 non-null   float64
 11  staying_row_total                            11202 non-null  int64
 12  staying_group_size                           11032 non-null  object
 13  staying_race_ethnicity                       10561 non-null  object
 14  staying_gender                               11048 non-null  object
 15  staying_age                                  10841 non-null  object
 16  standing                                     6375 non-null   float64
 17  leaning                                      602 non-null    float64
 18  sitting_formal_all                           3031 non-null   float64
 19  sitting_formal_public                        1017 non-null   float64
 20  sitting_formal_public_fixed_bench            346 non-null    float64
 21  sitting_formal_public_fixed_wall_with_seats  372 non-null    float64
 22  sitting_formal_public_movable_seat           114 non-null    float64
 23  sitting_formal_commercial                    970 non-null    float64
 24  sitting_formal_private                       213 non-null    float64
 25  sitting_informal                             699 non-null    float64
 26  lying                                        270 non-null    float64
 27  staying_mobility_assist                      220 non-null    float64
 28  commercial_all                               1842 non-null   float64
 29  commercial_selling                           175 non-null    float64
 30  commercial_selling_informal                  50 non-null     float64
 31  commercial_buying                            845 non-null    float64
 32  commercial_observing                         516 non-null    float64
 33  eating_drinking                              1886 non-null   float64
 34  talking_to_others                            5034 non-null   float64
 35  smoking                                      950 non-null    float64
 36  cultural                                     72 non-null     float64
 37  recreation_active                            197 non-null    float64
 38  recreation_passive                           1373 non-null   float64
 39  waiting_transportation                       2468 non-null   float64
 40  working_civic                                215 non-null    float64
 41  disruptive                                   23 non-null     float64
 42  disruptive_aggressive                        15 non-null     float64
 43  disruptive_intoxicated                       19 non-null     float64
 44  living_public                                324 non-null    float64
 45  using_electronics                            2624 non-null   float64
 46  soliciting                                   119 non-null    float64
 47  staying_covid_mask                           486 non-null    object
 48  staying_covid_social_distance                486 non-null    object
 49  staying_notes                                453 non-null    object
dtypes: float64(32), int64(2), object(16)
memory usage: 4.3+ MB

In [48]:
#select columns for our analysis
public_staying = public_staying[['location_id', 'staying_time_start', 'staying_day_of_week', 'staying_time_of_day', 'staying_group_size', 'staying_gender', 'staying_age']]

In [49]:
public_staying.shape

(11202, 7)

In [50]:
public_staying.isnull().sum()

location_id              0
staying_time_start       0
staying_day_of_week      0
staying_time_of_day      0
staying_group_size     170
staying_gender         154
staying_age            361
dtype: int64

In [51]:
#we will use a group size to calculate the occupancy of public places, so drop the rows with Nan value
public_staying = public_staying.dropna()

In [52]:
public_staying.isnull().sum()

location_id            0
staying_time_start     0
staying_day_of_week    0
staying_time_of_day    0
staying_group_size     0
staying_gender         0
staying_age            0
dtype: int64

*Now all data are complete and there is no missing values*

In [53]:
public_staying.shape

(10820, 7)

In [54]:
public_staying['staying_gender'].unique()

array(['Female', 'Other_Unsure', 'Male'], dtype=object)

In [55]:
#rename 'Other_Unsure' on 'Unknown'
public_staying.replace(to_replace = "Other_Unsure", value = "Unknown", inplace = True)

In [56]:
public_staying["staying_age"].unique()

array(['45-64', '0-4', '25-44', '65+', '15-24', '14-May', '25-64',
       'Toddler - Walking unconfidently', 'Baby - Lying / Crawling',
       'Up to 5 - Walking confidently'], dtype=object)

In [57]:
# we see some problems with column "staying_age", so normalise it. 
# 1. Rename rows 'Toddler - Walking unconfidently', 'Baby - Lying / Crawling', 'Up to 5 - Walking confidently' to '0-4'
public_staying.replace(to_replace=('Toddler - Walking unconfidently', 'Baby - Lying / Crawling', 'Up to 5 - Walking confidently'), value='0-4', inplace=True)

In [58]:
# 2. We need to do something with '14-May'. If to see on metadata for this dataset on https://data.seattle.gov/Transportation/Public-Life-Data-People-Staying/5mzj-4rtf we have age '5-14', so make a change
public_staying.replace(to_replace = '14-May', value='5-14', inplace=True)

In [59]:
#in tables about parking there is information about weekdays from Monday to saturday, so we need to recognize in dataset public_staying column staying_day_of_week. Make a new appropriate column
public_staying['day_of_week'] = pd.to_datetime(public_staying['staying_time_start']).dt.day_name()

In [60]:
#delete column "staying_day_of_week" because it doesn't have appropriate format for our analysis
public_staying = public_staying.drop('staying_day_of_week', axis=1)

In [61]:
public_staying.head(10)

,location_id,staying_time_start,staying_time_of_day,staying_group_size,staying_gender,staying_age,day_of_week
2,MAP1,08/02/2018 08:20:00 AM,Morning,3,Female,45-64,Thursday
3,MAP1,08/02/2018 08:20:00 AM,Morning,3,Female,45-64,Thursday
4,MAP1,08/02/2018 08:20:00 AM,Morning,3,Unknown,0-4,Thursday
5,MAP1,08/02/2018 08:20:00 AM,Morning,1,Male,25-44,Thursday
6,MAP1,08/02/2018 08:20:00 AM,Morning,2,Male,25-44,Thursday
7,MAP1,08/02/2018 08:20:00 AM,Morning,2,Unknown,0-4,Thursday
8,MAP1,08/02/2018 12:20:00 PM,Midday,1,Male,45-64,Thursday
9,MAP1,08/02/2018 12:20:00 PM,Midday,1,Female,65+,Thursday
10,MAP1,08/02/2018 12:20:00 PM,Midday,2,Male,45-64,Thursday
11,MAP1,08/02/2018 12:20:00 PM,Midday,2,Male,25-44,Thursday

In [62]:
public_staying.isnull().sum()

location_id            0
staying_time_start     0
staying_time_of_day    0
staying_group_size     0
staying_gender         0
staying_age            0
day_of_week            0
dtype: int64

In [63]:
public_staying.to_csv('public_staying.csv')

#### For appropriate analysis with parking dataset by dates, find month of 2020 year and create new table if I will make it

In [64]:
public_staying['Year'] = pd.to_datetime(public_staying['staying_time_start']).dt.year

In [65]:
public_staying['Year'].unique()

array([2018, 2019, 2020], dtype=int64)

In [66]:
public_staying['Month'] = pd.to_datetime(public_staying['staying_time_start']).dt.month

In [67]:
public_staying_2020 = public_staying[public_staying['Year'] == 2020]

In [68]:
public_staying_2020.head(2)

,location_id,staying_time_start,staying_time_of_day,staying_group_size,staying_gender,staying_age,day_of_week,Year,Month
10716,BAL3,10/02/2020 12:18:00 PM,Midday,1,Male,25-64,Friday,2020,10
10717,BAL3,10/02/2020 12:18:00 PM,Midday,1,Male,25-64,Friday,2020,10

In [69]:
public_staying_2020.shape

(486, 9)

In [70]:
public_staying_2020['Month'].unique()

array([10,  9], dtype=int64)

In [71]:
public_staying_2020.to_csv('public_staying_2020.csv')

### park_address data preparation

In [72]:
park_address.shape

(412, 8)

In [73]:
park_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PMAID       412 non-null    int64
 1   LocID       412 non-null    int64
 2   Name        412 non-null    object
 3   Address     412 non-null    object
 4   ZIP Code    412 non-null    int64
 5   X Coord     412 non-null    float64
 6   Y Coord     412 non-null    float64
 7   Location 1  412 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 25.9+ KB

In [74]:
park_address.isnull().sum()

PMAID         0
LocID         0
Name          0
Address       0
ZIP Code      0
X Coord       0
Y Coord       0
Location 1    0
dtype: int64

Everything looks good

In [75]:
park_address.to_csv('park_address.csv')